.strategy {
    position: relative;
}
.strategy-left {
    width: 300px;
    height: calc(100vh - 80px);
    border: #dee2e6 1px solid;
    padding: 10px 20px;
    .strategy-add{
        position: relative;
        button {
            position: absolute;
            right: 10px;
        }
    }

    .strategy-title {
        text-align: center;
        display:block;
        font-size: 30px;
        line-height: 45px;
        color: #000000;
        font-style: Normal;
        font-weight: 400;
        font-family: 微软雅黑;
    }

    .strategy-list{
        ul {
            padding: 0px;
            text-align: center;
        }

    }
}

.strategy-right {
    position: absolute;
    top: 0px;
    left: 300px;
    width: calc(100vw - 420px);
}
// 菜单
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.operate{
    display: inline-block;
    width: 50px;
    /* height: 25px; */
    text-align: center;
}

.strategy-table{
    margin: 10px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px 5px;
}
.br {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.dash-1{
    height: 400px;
}
.table-3 {
    height: 300px;
}

.map_container {
    height: 300px;
    width: 100%；
}

.city-list{
    max-height: 79vh;
    overflow-y: auto;
}
.strategy-top{
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    font-style: Normal;
    font-weight: 400;
    font-family: 微软雅黑;
}
.select-del{
    border: 0;
    background: transparent;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin-left: 10px;
}
.table-left{
    width: 200px;
    height: calc(100vh - 80px);
   /*  border: #dee2e6 1px solid; */
    padding: 5px 5px;
  
}
.table-right{
   /*  height: 600px; */
    position: absolute;
    top: 0px;
    left: 300px;
   /*  width: calc(100vw - 420px); */width:800px;
 /*    background-color:  #EEEEEE; */
    margin-left: 200px;
    margin-top: 35px;
    td{
        width: 200px;
    }
}
.table-span{
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    font-style: Normal;
    font-weight: 400;
    font-family: 微软雅黑;
    margin-left: 20px;
}
.ul-hw{
    li{
        margin-top: 5px;
        height: 100px;
    }
}