.strategy {
    position: relative;
}
.strategy-left {
    width: 250px;
    height: 100vh;
    border: #dee2e6 1px solid;
    // padding: 10px 0px;
    background: #dee2e6;
    .strategy-add{
            position: relative;
            padding: 10px 0;
            background-color: rgba(153, 153, 153, 0.5);
            font-size: 20px;
        button {
            position: absolute;
            right: 10px;
        }
    }



    .strategy-list {
        height: calc(100% - 57px);
        overflow-y: auto;

        ul {
            padding: 0px;
            li {
                height: 56px;
                line-height: 56px;
                border-bottom: 1px solid #ccc;
                padding: 0 15px;
                position: relative;

                .modify-strategy {
                    position: absolute;
                    right: 5px;
                }
            }
            li:hover {
                background-color: rgba(0,0,0,.075);
            }
        }
        
    }
}

.strategy-title {
    font-size: 1.57rem;
    padding-left: 15px;

}

.strategy-right {
    position: absolute;
    top: 0px;
    left: 250px;
    width: calc(100vw - 300px);

    .title-right {
        margin-top: 10px;
    }
    .jump-iron {
        position: absolute;
        right: 20px;
    }
    .nav-strategy {
        padding-left: 15px;
        margin-top: 10px;
    }
}


.operate{
    display: inline-block;
    width: 50px;
    /* height: 25px; */
    text-align: center;
}

.strategy-table{
    margin: 10px;

    padding: 10px 5px;

    .span-marg-bot {
        margin-bottom: .5rem
    }
}
.br {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.dash-1{
    height: 400px;
}
.table-3 {
    height: 300px;
}

.map_container {
    height: 300px;
    width: 100%；
}

.city-list{
    // max-height: 79vh;
    height: 750px;
    overflow-y: auto;
}
.strategy-top{
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    font-style: Normal;
    font-weight: 400;
    font-family: 微软雅黑;
}
.select-del{
    border: 0;
    background: transparent;
    appearance: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin-left: 10px;
}




.data-list {
    padding: 0px;
    li {
        height: 56px;
        line-height: 56px;
        border-bottom: 1px solid #ccc;
        padding: 0 12px;
        position: relative;

            .modify-strategy {
                position: absolute;
                right: 5px;
            }
    }
    li:hover {
        background-color: rgba(0,0,0,.075);
    }

}


.date-title {
    height: 50px;
    line-height: 50px;
    position: relative;
    .btn {
        position: absolute;
        right: 0px;
    }
}



.border-xif {
    border-top: 1px solid #e9ecef;
    padding: 15px 0;
}

.border-xi{

    padding: 15px 0;

}
.padding-0{
    padding: 0;
}

// 日历
.custom-day {
text-align: center;
padding: 0.185rem 0.25rem;
display: inline-block;
height: 2rem;
width: 2rem;
}
.custom-day.focused {
background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
background-color: rgb(2, 117, 216);
color: white;
}
.custom-day.faded {
background-color: rgba(2, 117, 216, 0.5);
}
.required_red {
    color: red;
}

.label-top{
    position: relative;
    top: -6px;
}


.page-list-table{
    max-height: 750px;
    overflow-y: auto;
}
.date-style {
    margin: 0 auto;
}