<!--The content below is only a placeholder and can be replaced.-->
<!-- <gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard,let i = index">
    <div class="button-holder">
      <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="cart">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map{{i}} id="map_container1" style="height: 500px;">

        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </gridster-item>
</gridster> -->
<section class="content">
  <div class="container-fluid"></div>

  <div class="row">


    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map1 id="map_container1" style="height: 500px;">
          <!-- 香港18区人口密度 -->
        </div>

      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div class="row">
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map2 id="map_container2" style="height: 500px;">

          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div>
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map3 id="map_container3" style="height: 500px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div class="row">
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map4 id="map_container4" style="height: 800px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div >
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map5 id="map_container5" style="height: 800px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
</section>








