<div style="min-height: 100vh;" class="raw">
<gridster [options]="options" class="raw gridster">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.hasContent">
        <div class="stuff">
          <span>Some content to select and click without dragging the widget</span>
          <a href="https://www.google.com" target="_blank">Link to Google</a>
        </div>
      </div>
      <div class="item-buttons" *ngIf="item.hasContent">
        <button mat-icon-button mat-raised-button class="drag-handler">
          <mat-icon>open_with</mat-icon>
        </button>
        <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div>{{item.id}}</div>
      <label *ngIf="!item.hasContent">{{item.label}}</label>
      <button mat-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </gridster-item>
</gridster>
</div>

<div class="video-wrap row">
  <!-- 左侧 -->
  <div class="left-side">
    <!-- 搜索列表 -->
    <div class=" video-list">
      <ul id="treeDemo" class="ztree"></ul>
    </div>

    <!-- 地图 -->
    <div #map3 id="map_container2" class="map_container"></div>
  </div>
  <!-- 右侧 -->
  <div class="right-side" style=" padding: 0; ">

    <div class="video-nav">
      <span class="cur-pointer">
        <i class="fa fa-square" aria-hidden="true"></i>
      </span>
      <span class="cur-pointer">
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </span>
      <span class="cur-pointer">
        <i class="fa fa-th" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="video-content">
    kk
  </div>


</div>



<section class="content">
  <div class="container-fluid"></div>

  <div class="row">


    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map1 id="map_container1" style="height: 500px;">
          <!-- 香港18区人口密度 -->
        </div>

      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div class="row">
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map2 id="map_container2" style="height: 500px;">

          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div>
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map3 id="map_container3" style="height: 500px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div class="row">
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map4 id="map_container4" style="height: 800px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
  <div >
    <div class="cart col-md-12">
      <div class="cart-header"></div>
      <div class="cart-body">
        <div #map5 id="map_container5" style="height: 800px;">
    
          <!-- 这里以后是地图 -->
        </div>
    
      </div>
      <div class="cart-footer"></div>
    </div>
  </div>
</section>








