.test-cs{
    height: 90px;
    width: 90px;
    background: #56c5ff;
    padding: 24px 0;
}

.map_container{
    width: 100%;

}
.no-fulls-map {
    height: calc(100vh - 80px);
    margin-top: 80px;
}
.fulls-map {
    height: 100vh;
}

.dropdown-menu{
    top: 29px !important;
    min-width: 90px!important;
    .dropdown-item{
        font-size: 14px!important;
    }

}

// 设备详情
.device-detail{
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 4000;
    position: absolute;
    right: 85px;
    top: 0px;
    padding: 0px 15px;
}
.device-close{
    cursor: pointer;
     color: #8e8f91;
}
.device-title{
    display: block;
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
// 底部消息框
.color-red{
    color: #f44336;
}
.color-yellow {
    color: #fe9001
}
.color-orange {
    color: #f0c001
}
//
.info-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.info-logo{
    position: absolute;
    left: 70px;
}
.info-text {
        margin-left: 130px;
        font-size: 16px;
}
// 蒙板
.mask-zt{
    padding: 15px;
    z-index: 2;
    position: relative;
    height: 150px;

}
.mask-zt:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    z-index: -1;
}



//
.video-play{
    position: absolute;
    bottom: 0px;
    right: 0;
    img {
        position: absolute;
        right: 115px;
        bottom: 10px;
    }
}

.info-border{
    border-bottom: 1px solid;
    margin-bottom: 10px;
}