
<!-- 城市列表 -->
<div  class="d-inline-block sel-area-block" (mouseleave)="citylistMouseleave()">

  <span class="cl-blue cur-pointer" (mouseover)="showCiyt()">
    <span class="filter" *ngIf="currentCity">{{currentCity.name}}</span>
    <span class="filter" *ngIf="!currentCity">选择城市</span>
    <!-- <i class="fa fa-bell-o nav-icon " aria-hidden="true"></i> -->
  </span>
  <div id="city-panel" class="city-panel"  *ngIf="cityshow">
    <dl *ngFor="let item of cityList">
      <dt>{{item.name}}</dt>
      <dd *ngIf="item.children && item.children.length > 0">
        <a  title="智慧城市" *ngFor="let itemc of item.children" (click)="selecteCity(itemc)">{{itemc.name}}</a>
      </dd>
    </dl>

    <!-- <div class="blank">
      <a href="https://www.anjuke.com/sy-city.html" class="moreCity">更多城市&gt;</a>
    </div> -->
  </div>

</div>

<!-- 区域列表 -->
<div  class="d-inline-block sel-area-block" (mouseleave)="arealistMouseleave()">

  <span class="cl-blue cur-pointer" (mouseover)="showArea()" >
    <span class="filter">选择区域</span>
  </span>

  <div class="arealist-wrap"   *ngIf="areashow">
    <ul class="arealist" data-type="area">
      <li data-val="0" class="arealist-item" (mouseover)="arealistMouseNone()">
        <em>不限</em>
      </li>
      <li class="arealist-item" *ngFor="let node of currentChildren" (mouseover)="arealistMouseover(node)" >
        <em>{{node.name}}</em>
      </li>

    </ul>
    <ul class="blocklist" data-type="block" *ngIf="currentBlock" >
      <li data-val="0">不限</li>
      <li *ngFor="let node of currentBlock" >{{node.name}}</li>

    </ul>

  </div>

</div>

<!-- 设备列表 -->
<div  class="d-inline-block sel-area-block" (mouseleave)="devicelistMouseleave()">

  <span class="cl-blue cur-pointer" (mouseover)="showDevice()">
    <span class="filter">选择设备</span>

  </span>
  <div id="device-panel" class="device-panel"  *ngIf="deviceshow">
    <dl>
      <dt>
        <a>不限</a>
      </dt>
    </dl>
    <dl *ngFor="let device of deviceList">
      <dt>
        <a title="智慧城市">{{device.name}}</a>
      </dt>
      <dd *ngIf="device.children && device.children.length > 0">
        <a title="智慧城市" *ngFor="let itemc of device.children">{{itemc.name}}</a>
      </dd>
    </dl>
  </div>

</div>
<!-- <div class="d-inline-block">
  <select [(ngModel)]='cityList'>
    <option value="">请选择</option> //此处用的是value，而不是[value]
    <option *ngFor="let item of cityList" [value]='item'>{{item.name}}</option>
  </select>
  
</div> -->
  <div #map3 id="map_container3" class="map_container"></div>
