.extral-margin {
    margin-left: 5px;
}
.add-survey {
    margin: 0px;
    text-align: right;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.modal-body {
    padding: 34px;
    max-height: 500px;
    overflow-y: auto;

}