.map_container{
    height: 100vh;
    width: 100%;
}
.map-has-footer {
    height: calc(100vh - 480px);
}
.cover-footer {
    height: 400px;
    width: calc(100vw - 100px);
}
.cover_td_1 {
    background-color: red;
}
.cover_td_2 {
    background-color: yellow;
}
.cover_td_3{
    background-color: green;
}

.mes-list{
    border: 1px solid #ccc;
    background: #404a59;
    color: #fff;
}