.map_container{
    height: 100vh;
    width: 100%;
}
.map-has-footer {
    height: calc(100vh);
}
// .cover-footer {
//     height: 400px;
//     width: calc(100vw - 100px);
//     margin-right: 0;
//     margin-left: 0;
// }
// .cover_td_1 {
//     background-color: red;
// }
// .cover_td_2 {
//     background-color: yellow;
// }
// .cover_td_3{
//     background-color: green;
// }

.mes-list{
    border: 1px solid #ccc;
    background: #3c3c3c;
    color: #fff;
    .mes-list-title{
        padding-left: 40px;
        padding-top: 20px;
    }

    .mes-list-detail{
        height: 80%;
        overflow: auto;
    }
}
.list-item{
    padding-top: 12px;
}
.cover-tabel {
    // height: 100px;
    background: #3c3c3c;
    padding: 0;
}
.block-padding{
    padding: 0;
}
.table-body{
    margin-bottom: 0;
    background: #404a59;
    padding: 0;
}
.mess-num {
    td {
    color: #fff;
    }

}
.cover-issues {
    position: absolute;
    z-index: 3000;
    top: 15px;
    right: 170px;
    .cover-issues-block {
        width: 70px;
        cursor: pointer;
        position: relative;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        line-height: 32px;
        height: 32px;
        font-size: 14px;
        margin-left: 21px;
    }
    .filter {
        width: 76px;
    }
    .messagelist-wrap {
        position: absolute;
        padding: 0;
        margin: 0px;
        // width: 90px;
        // width: 212px;
        top: 31px;
        right: 0;
        z-index: 99;
    }
    .messagelist {
        position: relative;
        //left: -10px;
        padding: 0;
        margin: 0px;
        padding-left:0;
        margin-bottom: 0;
        width: 300px;
        font-size: 12px;
        z-index: 99;
        border: 1px solid #e6e6e6;
        border-top-width: 0;
        background: #f6f6f6;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
        max-height: 300px;
        overflow-y: auto;
        cursor: pointer;
    }
    .mes-list-1 {
        left: -101px;
    }
    .mes-list-2 {
        position: relative;
        left: -182px;
    }
    .messagelist-item {
        text-indent: 15px;
        font-size: 12px;
    }
    .messagelist .messagelist-item:hover {
        background: #fff;
        .blocklist{
        display: block;
        }
    }
    .messagelist .messagelist-item:hover em {
        color:#f60;
    }
}