<!-- 产品管理页面 -->
<div class="bodyofproduct">
      <!-- <p class="lsq-alert">
        <ngb-alert  (close)="closeAlert(alert)"></ngb-alert>
      </p> -->
    <!-- 卡片形式 -->
    <div class="card card-primary panel-default">
      <div class="card-header">
        <span>设备实时数据</span>
      </div>
      

      <!-- 显示已有产品 -->
      <div class="card-block">
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>属性名称</th>
              <th>更新时间</th>
              <th>最新值</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of CurrentPropertyList">
              <td>{{item.name}}</td>
              <td>{{item.lastTime | date: 'yyyy-mm-ddTHHmmss'}}</td>
              <td>{{item.dataValue}}</td>
              <td style="text-align: center">
                <div class="modify-strategy d-inline">
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="jumpHandle()">查看历史数据</a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <div *ngIf="CurrentPropertyList.length === 0 || !CurrentPropertyList">无数据！</div>

        <!-- 判断显示无数据 -->
        <!-- <div *ngIf="productListItems.length === 0 || !productListItems">无数据！</div> -->
        <!-- 判断显示页面 -->
        <!-- <div *ngIf="productListItems.length > 0">
          <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="pageChange()"></ngb-pagination>
        </div> -->

      </div>
    </div>

</div>

