<!-- modal下modal:增加数据定义 -->
<ng-template #AddDATA class="modal1" let-c="close" let-d="dismiss">
  <p *ngFor="let alert of alertsModal" class="lsq-alert">
    <ngb-alert [type]="alert.type" (close)="closeAlertModal(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="modal-header">
    <h4 class="modal-title">{{addorupdate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>名称：</label>
      <input type="text" class="form-control" [(ngModel)]="dataModel.name" placeholder="请输入您的数据名称">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>标识符：</label>
      <input type="text" class="form-control" [(ngModel)]="dataModel.dataKey" placeholder="请输入您的标识符">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>数据类型：</label>
      <select class="form-control" [(ngModel)]="dataModel.dataType">
        <option *ngFor="let unit of TYPEDATA1" [ngValue]="unit">{{unit.Name}}</option>
      </select>
    </div>
    <!-- INT、FLOAT、DOUBLE -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'int' || dataModel.dataType.Value.toLowerCase() == 'float' || dataModel.dataType.Value.toLowerCase() == 'double' ">
          <div class="form-group">
            <label class="control-label"><span style="color:red">*</span>取值范围：</label>
            <div class="form-inline">
              <input type="number" class="form-control sm-width" [(ngModel)]="dataModel.dataMin" placeholder="最小值">
              <span class="ssm-width">~</span>
              <input type="number" class="form-control sm-width" [(ngModel)]="dataModel.dataMax" placeholder="最大值">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label"><span style="color:red">*</span>分辨率/步长：</label>
            <div>
              <input type="number" class="form-control" [(ngModel)]="dataModel.resolution" placeholder="请输入步长">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">单位：</label>
            <div>
              <select class="form-control" [(ngModel)]="dataModel.unit" placeholder="请选择单位">
                <option *ngFor="let unit of UNITDATA1" [ngValue]="unit">{{unit.Name}}</option>
              </select>
            </div>
          </div>
    </div>

    <!-- BOOL -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'bool'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>布尔值:</label>
        <div class="form-inline" >
          <span class="ssm-width">0-</span>
          <input type="text" class="form-control sm-width2" [(ngModel)]="dataModel.BOOL.no" placeholder="如：关">
          <span class="ssm-width" style="padding: 15px;">1-</span>
          <input type="text" class="form-control sm-width2" [(ngModel)]="dataModel.BOOL.yes" placeholder="如：开">

        </div>
      </div>
    </div>
    <!-- TEXT -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'text'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>数据长度:</label>
        <div class="form-inline">
          <input type="number" class="form-control sm-width" [(ngModel)]="dataModel.dataLength" placeholder="如：关">
          <span style="padding-left: 15px;">字节</span>
        </div>
      </div>
    </div>
    <!-- DATE -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'data'">
      <div class="form-group">
        <label class="control-label">时间格式:</label>
        <div class="form-inline">
          <span >String类型的UTC时间戳（毫秒）</span>
        </div>
      </div>
    </div>
    <!-- ENUM -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'enum'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>枚举项:</label>
        <div class="form-inline">
          <span>参数值</span>
          <span class="para-descript">参数描述</span>
        </div>
        <div class="form-inline" *ngFor="let item of dataModel.ENUM" style="padding: 5px 0;">
          <input type="number" class="form-control sm-width2" [(ngModel)]="item.value" placeholder="编号如'0'">
          <span class="ssm-width">~</span>
          <input type="number" class="form-control sm-width2" [(ngModel)]="item.description" placeholder="对改枚举项的描述">
          <span style="padding-left: 15px;"><a class="cur-pointer theme-text " (click)="delEnum()">删除</a> </span>
        </div>
      </div>
      <div>
        <span><a class="cur-pointer theme-text " (click)="addEnum()">+添加枚举项</a></span>
      </div>
    </div>
    <!-- STRUCT -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'struct'">
      <div class="form-group" style="position: relative;">
        <label class="control-label"><span style="color:red">*</span>JSON对象:</label>
        <div class="form-inline" *ngFor="let itemSTRUCT of dataModel.STRUCT" style="background-color: rgb(230, 249, 252);padding: 3px;margin:3px 0;">
          <span >参数名称：{{itemSTRUCT.name}}</span>
          <span style="position: absolute;right: 40px;"><a class="cur-pointer theme-text ">编辑</a></span>
          <span style="position: absolute;right: 0px;"><a class="cur-pointer theme-text ">删除</a></span>
        </div>
        <div>
          <span><a class="cur-pointer theme-text " (click)="addEnum()">+新增参数</a></span>
        </div>
      </div>
    </div>
    <!-- ARRAY -->
    <div *ngIf="dataModel.dataType.Value.toLowerCase() == 'array'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>元素类型:</label>
      <div>
        <input type="radio" name="read" [value]="0" placeholder="" [(ngModel)]="dataModel.ARRAY.value"><span>int32</span>
        <input type="radio" name="read" [value]="1" placeholder="" [(ngModel)]="dataModel.ARRAY.value">float
        <input type="radio" name="read" [value]="2" placeholder="" [(ngModel)]="dataModel.ARRAY.value">double
        <input type="radio" name="read" [value]="2" placeholder="" [(ngModel)]="dataModel.ARRAY.value">text
        <input type="radio" name="read" [value]="4" placeholder="" [(ngModel)]="dataModel.ARRAY.value">struct
      </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>读写类型：</label>
      <div>
        <input type="radio" name="readOnly"  [value]="false" placeholder=""  [(ngModel)]="dataModel.readOnly"><span style="padding-right: 30px">读写</span>
        <input type="radio" name="readOnly"  [value]="true" placeholder=""  [(ngModel)]="dataModel.readOnly">只读
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">
        <!-- <span style="color:red">*</span> -->
        描述：</label>
      <div>
        <textarea name="" id="" cols="60" rows="3" [(ngModel)]="dataModel.describe" placeholder="请输入描述"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="addorupdateProperty()">确认</button>
    <button type="button" class="btn btn-outline-metal" (click)="d('Cross click')">取消</button>
  </div>
</ng-template>

<!-- modal下modal:增加/修改服务定义 -->
<ng-template #AddSERVICE class="modal1" let-c="close" let-d="dismiss">
    <p *ngFor="let alert of alertsModal" class="lsq-alert">
      <ngb-alert [type]="alert.type" (close)="closeAlertModal(alert)">{{ alert.message }}</ngb-alert>
    </p>
  <div class="modal-header">
    <h4 class="modal-title">{{addorupdate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>名称：</label>
      <input type="text" class="form-control" [(ngModel)]="functionModel.name" placeholder="请输入您的数据名称">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>标识符：</label>
      <input type="text" class="form-control" [(ngModel)]="functionModel.identifier" placeholder="请输入您的标识符">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>调用方式：</label>
      <div>
        <input type="radio" name="synchrony" [value]="1" placeholder="" [(ngModel)]="functionModel.synchrony">同步
        <input type="radio" name="synchrony" [value]="0" placeholder="" [(ngModel)]="functionModel.synchrony">异步
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">输入参数：</label>
      <div class="form-inline" *ngIf="functionModel.inputparam && functionModel.inputparam.length > 0" style="padding: 5px 0;">
              <table class="table">
                <tr>
    
                  <th>标识符</th>
                  <th>数据类型</th>
                  <th>操作</th>
                </tr>
                <tr *ngFor="let items of (functionModel.inputparam); index as i ">
                  
                  <td>{{items.dataKey}}</td>
                  <td>{{items.dataType}}</td>
                  <td><span style="padding-left: 15px;"><a class="cur-pointer theme-text " (click)="delParam(i, 'inputparam')">删除</a> </span></td>
                </tr>
              </table>


      </div>
      <div>
        <span><a class="theme-text cur-pointer" (click)="openParameterModal(parameterAdd, 0)">+ 增加参数</a></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">输出参数：</label>
      <div class="form-inline" *ngIf="functionModel.outputparam && functionModel.outputparam.length > 0" style="padding: 5px 0;">
        <table class="table">
          <tr>
            
            <th>标识符</th>
            <th>数据类型</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let items of (functionModel.outputparam); index as i  ">

            <td>{{items.dataKey}}</td>
            <td>{{items.dataType}}</td>
            <td><span style="padding-left: 15px;"><a class="cur-pointer theme-text " (click)="delParam(i, 'outputparam')">删除</a> </span></td>
          </tr>
        </table>
      
      
      </div>
      <div>
        <span><a class="theme-text cur-pointer" (click)="openParameterModal(parameterAdd, 1)">+ 增加参数</a></span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label">
        <!-- <span style="color:red">*</span> -->
        描述：</label>
      <div>
        <textarea name="" id="" cols="60" rows="3" [(ngModel)]="functionModel.description" placeholder="请输入描述"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="addorupdateService()">确认</button>
    <button type="button" class="btn btn-outline-metal" (click)="d('Cross click')">取消</button>
  </div>
</ng-template>

<!-- modal下modal:增加参数 -->
<ng-template #parameterAdd class="modal1" let-c="close" let-d="dismiss">
  <p *ngFor="let alert of alertsModal" class="lsq-alert">
    <ngb-alert [type]="alert.type" (close)="closeAlertModal(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="modal-header">
    <h4 class="modal-title">新建参数</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>参数名称</label>
      <input type="text" class="form-control" [(ngModel)]="AddParamModel.name" placeholder="">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>标识符</label>
      <input type="text" class="form-control"  [(ngModel)]="AddParamModel.dataKey" placeholder="">
    </div>
    <div class="form-group">
      <label class="control-label"><span style="color:red">*</span>数据类型</label>
      <select class="form-control" [(ngModel)]="AddParamModel.dataType">
        <option *ngFor="let unit of TYPEDATA2" [ngValue]="unit">{{unit.Name}}</option>
      </select>
    </div>
    <!-- INT、FLOAT、DOUBLE -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'int' || AddParamModel.dataType.Value.toLowerCase() == 'float' || AddParamModel.dataType.Value.toLowerCase() == 'double' ">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>取值范围：</label>
        <div class="form-inline">
          <input type="number" class="form-control sm-width3" [(ngModel)]="AddParamModel.dataMin" placeholder="最小值">
          <span class="ssm-width">~</span>
          <input type="number" class="form-control sm-width3" [(ngModel)]="AddParamModel.dataMax" placeholder="最大值">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>分辨率/步长：</label>
        <div>
          <input type="text" class="form-control" [(ngModel)]="AddParamModel.resolution" placeholder="请输入步长">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">单位：</label>
        <div>
          <select class="form-control" [(ngModel)]="AddParamModel.unit" placeholder="请选择单位">
            <option *ngFor="let unit of UNITDATA1" [ngValue]="unit">{{unit.Name}}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- BOOL -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'bool'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>布尔值:</label>
        <div class="form-inline">
          <span class="ssm-width">0-</span>
          <input type="text" class="form-control sm-width4" [(ngModel)]="AddParamModel.BOOL.no" placeholder="如：关">
          <span class="ssm-width" style="padding: 15px;">1-</span>
          <input type="text" class="form-control sm-width4" [(ngModel)]="AddParamModel.BOOL.yes" placeholder="如：开">
    
        </div>
      </div>
    </div>
    <!-- TEXT -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'text'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>数据长度:</label>
        <div class="form-inline">
          <input type="number" class="form-control sm-width" [(ngModel)]="AddParamModel.dataLength" placeholder="如：关">
          <span style="padding-left: 15px;">字节</span>
        </div>
      </div>
    </div>
    <!-- DATE -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'date'">
      <div class="form-group">
        <label class="control-label">时间格式:</label>
        <div class="form-inline">
          <span>String类型的UTC时间戳（毫秒）</span>
        </div>
      </div>
    </div>
    <!-- ENUM -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'enum'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>枚举项:</label>
        <div class="form-inline">
          <span>参数值</span>
          <span class="para-descript">参数描述</span>
        </div>
        <div class="form-inline" *ngFor="let item of AddParamModel.ENUM" style="padding: 5px 0;">
          <input type="number" class="form-control sm-width2" [(ngModel)]="item.value" placeholder="编号如'0'">
          <span class="ssm-width">~</span>
          <input type="number" class="form-control sm-width2" [(ngModel)]="item.description" placeholder="对改枚举项的描述">
          <span style="padding-left: 15px;"><a class="cur-pointer theme-text " (click)="delEnum()">删除</a> </span>
        </div>
      </div>
      <div>
        <span><a class="cur-pointer theme-text " (click)="addEnum()">+添加枚举项</a></span>
      </div>
    </div>

    <!-- ARRAY -->
    <div *ngIf="AddParamModel.dataType.Value.toLowerCase() == 'array'">
      <div class="form-group">
        <label class="control-label"><span style="color:red">*</span>元素类型:</label>
        <div>
          <input type="radio" name="read" [value]="0" placeholder="" [(ngModel)]="AddParamModel.ARRAY.value"><span>int32</span>
          <input type="radio" name="read" [value]="1" placeholder="" [(ngModel)]="AddParamModel.ARRAY.value">float
          <input type="radio" name="read" [value]="2" placeholder="" [(ngModel)]="AddParamModel.ARRAY.value">double
          <input type="radio" name="read" [value]="2" placeholder="" [(ngModel)]="AddParamModel.ARRAY.value">text
          <input type="radio" name="read" [value]="4" placeholder="" [(ngModel)]="AddParamModel.ARRAY.value">struct
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="addParam()">确认</button>
    <button type="button" class="btn btn-outline-metal" (click)="d('Cross click')">取消</button>
  </div>
</ng-template>
<!-- 删除 -->
<ng-template #contentDel let-c="close" let-d="dismiss">
  <app-sq-modal [input]="modelData" (output)="closeModal($event)"></app-sq-modal>
</ng-template>

<!-- 产品管理页面 -->
<div class="bodyofproduct cart-over">
  <p *ngFor="let alert of alerts" class="lsq-alert">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <!-- 卡片形式 -->
  <div class="card card-primary panel-default cart-min">
    <div class="card-header">
      <span>功能定义</span>

      <button type="button" class="close" aria-label="Close">
      
        <span>
          <i class="fa fa-arrow-circle-o-left fa-lg cur-pointer color-btn-text" (click)="goToZheRoute('home/device/product/product-home')"></i>
        </span>
      </button>
    <div>
    <a class="cur-pointer theme-text btn-a"  style=" font-size: 20px;">{{deviceParams.name}}</a>
    <!-- 菜单-->
    <div class="nav-strategy">
      <ul class="nav nav-tabs">
        <li *ngFor="let item of navs;let i = index" role="presentation " class=" cur-pointer" (click)="changeNav(i)"
          [ngClass]="{'active':item.id === nav_index}">
          <a>{{item.name}}</a>
        </li>
      </ul>
    </div>
      </div>
    </div>

    <!-- 显示已有产品 -->
    <div class="card-block">

      <!-- 数据定义 -->
      <div *ngIf="nav_index === 0">
        <div style=" text-align: right;">
          <a class="cur-pointer theme-text btn-a" (click)="openNewModal(AddDATA)">添加数据定义</a>
        </div>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>序号</th>
              <th>名称</th>
              <th>标识符</th>
              <th>数据类型</th>
              <th>取值范围</th>
              <th>步长</th>
              <th>单位</th>
              <th>读写类型</th>
              <th>描述</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>
        
            <tr *ngFor="let item of dataListItems; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.name}}</td> 
              <td>{{item.key}}</td>
              <td>{{item.dataType}}</td>
              <td  ><span *ngIf="item.dataMin !== null">{{item.dataMin}} ~ {{item.dataMax}}</span> </td>
              <!-- <td *ngIf="item.enumParams.length > 0"><span >枚举值：</span><span *ngFor="let itemnuem of item.enumParams">{{itemnuem.value}}:{{itemnuem.describe}};</span> </td> -->
              <td>{{item.resolution}}</td>
              <td>{{item.unit}}</td>
              <td>
                <span *ngIf="item.readOnly === false">读写</span>
                <span *ngIf="item.readOnly === true">只读</span>
              </td>
       
              <td>{{item.describe}}</td>
              <td style="text-align: center">
                <div class="modify-strategy d-inline">
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openUpdataModal(AddDATA, item)">修改</a>
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openDelModal(contentDel, item, 'property')">删除</a>
                </div>
              </td>
        
            </tr>
          </tbody>
        </table>
        <!-- <div *ngIf="messageIssue.field === 'iot' ">{{messageIssue.defaultMessage}}</div>
        <div *ngIf="messageIssue.field !== 'iot' ">
        
        </div> -->
        <div *ngIf="dataListItems.length === 0 || !dataListItems">无数据！</div>
        <!-- <div *ngIf="dataListItems.length > 0">
          <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
        </div> -->
      </div>
      <!-- 服务定义 -->
      <div *ngIf="nav_index === 1">
        <div style=" text-align: right;">
          <a  class="cur-pointer theme-text btn-a" (click)="openNewServiceModal(AddSERVICE)">添加服务定义</a>
        </div>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>序号</th>
              <th>名称</th>
              <th>标识符</th>
              <th>调用方式</th>
              <!-- <th>输入参数</th>
              <th>输出参数</th> -->
              <th>描述</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>
        
            <tr *ngFor="let item of functionListItems; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.identifier}}</td>
              <td>
                <span *ngIf="item.synchrony">同步</span>
                <span *ngIf="!item.synchrony">异步</span>
              </td>
              <!-- <td>{{item.input}}</td>
              <td>{{item.output}}</td> -->
              <td>{{item.description}}</td>
              <td style="text-align: center">
                <div class="modify-strategy d-inline">
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openUpdataServiceModal(AddSERVICE, item)">修改</a>
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openDelModal(contentDel, item, 'service')">删除</a>
                </div>
              </td>
        
            </tr>
          </tbody>
        </table>
        <div *ngIf="messageIssue.field === 'iot' ">{{messageIssue.defaultMessage}}</div>
        <div *ngIf="messageIssue.field !== 'iot' ">
        <div *ngIf="functionListItems.length === 0 || !functionListItems">无数据！</div>
        </div>

        <!-- <div *ngIf="functionListItems.length > 0">
          <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
            [boundaryLinks]="true" (pageChange)="pageChange()"></ngb-pagination>
        </div> -->
      </div>


    </div>
  </div>

</div>
