.btn-login {
    display: inline-block;
}
.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.login-center {
 height: 100vh;
}
.login-titel {
    margin-bottom: 40px;
}
.login-icon{
    position: relative;
    bottom: -32px;
}
.login-input{
    padding-left: 32px;
}