@import '../../assets/css/variable.scss';
@media (max-width:  773px /*575.98px*/) { 
    .product-title{
        display:none;
    }
     
    .login-center {
        background-image: url(../../assets/imgs/login-bg.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .login-right {
        background: rgba(255, 255, 255, 0.7) !important;
        top: 160px !important;
        left: calc(50vw - 137px);
        height: 50vh !important;
        .form-control:focus {
            background: rgba(255, 255, 255, 0) !important;
            box-shadow: 0 0 0 0.2rem #c2b4c7;
        }
        .login-input {
             background: rgba(255, 255, 255, 0) !important;
        }

    }
    .login-left {
        display:none;
    }

 }

.help-block{
    color: red;
}
.login-form{
    width: 240px;
}
.btn-login {
    display: inline-block;
    background-color: $color-theme-text;
    border-color: $color-theme-text;
    color: #fff;
    font-size: 18px;
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 64, 70, 0.25)
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}
.btn-login:visited, .btn-login:hover, .btn-login:focus, .btn-login:active {
    background-color: #506173;
    border-color: #506173;
}
.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
//右侧定位：登录
.login-right {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 300px;
    padding: 15px;
    top: 36px;
    right: 45px;
    height: 93vh;
}
//左侧定位：产品、系统名称
.login-left {
    background-image: url(../../assets/imgs/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: calc(100vw - 300px);
    left: 30px;
    top: 36px;
    height: 93vh;
    color: #fff;
    font-size: 36px;
    .product-title {
        position: absolute;
        bottom: 0;
        padding: 0 20px;
        text-shadow:5px 2px 6px #000;
    }

}

.product-name {
    position: absolute;
    top: 20px;
    right: 40px;
}
.login-center {
 height: 100vh;
 margin: 0;
 background: #d7d8d2;
 position: relative;
}
.login-title {
    font-size: 23px
}
.login-icon{
    position: relative;
    bottom: -27px;
}
.login-input{
    padding-left: 32px;
    font-size: 14px;
}
