<div class="row  login-center">

<div class="login-left">
  <div class="product-title">
    <p>{{'基于路灯的智慧城市系统'}}</p>
    <p>{{'Smart City System Based On Street Lamp'}}</p>
  </div>
</div>

<div class="row  login-right align-items-center justify-content-center">
  <div class="product-name login-title"><p >{{'新阳蓝光'}}</p></div>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login-form">
    <div >
        <h5 style="margin: 0;">{{'欢迎登录'}}</h5>
      </div>
    <div class="form-group inner-addon left-addon ">
      <div class="form-group" style="margin-bottom: 0px" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <i class="fa fa-user-o fa-lg fa-fw  login-icon"></i>
        <input type="text" class="form-control border-none login-input" name="username" id="username" placeholder="{{'用户名'}}" autocomplete [(ngModel)]="model.username"
          #username="ngModel" required (keydown)="onKeydown($event)" autocomplete="off" />
      </div>
      <div class="form-group" style="margin-bottom: 20px" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <i class="fa fa-key fa-lg fa-fw  login-icon"></i>
        <input type="text" class="form-control border-none login-input" id="password" name="password" placeholder="{{'密码'}}" autocomplete [(ngModel)]="model.password"
          #password="ngModel" required (keydown)="onKeydown($event)" onfocus="this.type='password'" />
      </div>
      <div class="form-group">
        <button class="btn col-md-12 btn-login">
          <span>登录</span>
        </button>
      </div>
      <div class=" ar-error" style="height: 22px;">
        <div *ngIf="f.submitted && !username.valid" class="help-block">{{'请输入用户名!'}}</div>
        <div *ngIf="f.submitted && !password.valid && username.valid" class="help-block ">{{'请输入密码!'}}</div>
        <mat-error *ngIf="error" class="help-block ">
          <strong>{{error}}</strong>
        </mat-error>
      </div>
    </div>
  </form>
</div>
</div>

