.map_warp {
    position: relative;
}
.map_container{
    // height: 100vh;
    width: 100%;
}
.select-item {
    padding: 5px 15px;
    text-align: center;
}
.data-monitor {
    position: absolute;
    top: 15px;
    right: 70px;
    z-index: 3000;
}
.legend {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 3000;

    ul {
    padding: 0;
        li {
            margin: 0;
            padding: 5px 10px;
            text-align: center;
            color: white;
            box-sizing: border-box;
            border-radius: 0px;
            border: 1px solid rgb(102, 102, 102);
        }
    }
}
.color-level-1{
    background-color: rgb(134, 171, 97);
}
.color-level-2 {
    background-color: rgb(78, 180, 207);
}
.color-level-3 {
    background-color: rgb(237, 166, 54);
}
.color-level-4 {
    background-color: rgb(216, 78, 74);
}
.color-level-5 {
    background-color: rgb(16, 17, 14);
}
