@import '../../../../assets/css/variable.scss';
.bodyofproduct {
    width: calc(100vw - 100px);
    padding: 15px;
}
.card-header {
    border-bottom: 0px;
}
.card-block {
    margin: 5px 15px;
}
.card-primary {
    margin-bottom: 15px;
}
.search-product {
    font-size: 14px;

    .search-options {
        //padding-left: 20px;
        .form-control {
            font-size: 14px;
            width: auto;
            height: calc(1.8rem + 2px);
            margin-right: 5px;
        }
        
        .search-icon {
            font-size: 20px;
            margin: 0 5px 5px;
        }
        .exe-search, .search-clear {
            font-size: 14px;
            height: calc(1.8rem + 2px);
            margin-right: 5px;
            background-color: $color-brand-color;
        }
    }
    
    .add-product {
        margin: 0px;
    }
}
.btn-search {
    font-size: 14px;
    margin-right: 5px;
    background-color: $color-brand-color;
}
.btn-search:focus, .btn-search:hover, .btn-search:active, {
    background-color: $color-hover-color;
}
// .modal1 {
//     padding: 0 20px 0;
// }
.modal-body {
    .form-control {
    font-size: 14px;
    height: calc(1.8rem + 2px);
    }
    .form-control-left {
        margin-bottom: 5px;
        width: 200px;
        
    }
    .label-left {
        margin-right: 5px;
        text-align: right;
        width: 121px;
    }
    .modal-col {
        margin-left: 15px;
        // display: inline;
    }
    .sm-width {
        width: 168px;
    }
    .ssm-width {
        width: 11px;
        margin: 0 5px 0;
    }
}



.manage-class {
    font-size: 20px;
    padding-right: 1px;
}
.manage-class:focus, .manage-class:hover {
    background-color: $color-brand-color;
}
.manage-class:active {
    background-color: $color-hover-color;
}