<!-- modal:新建产品 -->
<ng-template #contentAdd let-c="close" let-d="dismiss">
  <p *ngFor="let alert of alertsModal" class="lsq-alert">
    <ngb-alert [type]="alert.type" (close)="closeAlertModal(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="modal-header">
    <h4 class="modal-title">新建产品</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-product-modal">
    <!-- <p>One fine body&hellip;</p> -->
      <!-- 左列 -->
      <div class="row center-align">
        <div class="modal-col">
          <div class="form-inline">
            <label class="margin-bottom-15 label-left"><span style="color:red;">*</span>&nbsp;产品名称:</label>
            <input type="text" class="form-control form-control-left" id="add-product-name"
              maxlength="30" placeholder="" [(ngModel)]="model.name">
          </div>
          <div class="form-inline">
            <label class="margin-bottom-15 label-left"><span style="color:red;">*</span>&nbsp;产品描述:</label>
            <input type="text" class="form-control form-control-left" id="add-product-name"
              maxlength="30" placeholder="" [(ngModel)]="model.description">
          </div>
          <div class="form-inline">
            <label class="margin-bottom-15 label-left"><span style="color:red;">*</span>&nbsp;设备类型:</label>
            <select name="profile" [(ngModel)]="model.device"  class="form-control" style="margin-right: 15px;height: 100%;">
              <option *ngFor="let index of deviceList" [ngValue]="index">
                {{ index.name }}
              </option>
            </select>
          </div>
          <!-- <div class="form-inline">
              <label class="control-label label-left">制造商:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">制造商联系方式:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">PRODUCTKEY:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">PRODUCTSECRET:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div> -->
        </div>
        <!-- 右列 -->
        <!-- <div class="modal-col">
          <label class="control-label">参数：</label>
          <div class="form-group">
              <label class="control-label">输入参数</label>
              <div><a class="" (click)="openAddParams(content2)"><span style="color:blue">+增加参数</span></a></div>
          </div>
          <div class="form-group">
              <label class="control-label">增加参数</label>
              <div><a class="" (click)="openAddParams(content2)"><span style="color:blue">+增加参数</span></a></div>
          </div>
        </div> -->

    </div>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="setModel()" 
    [disabled]="!model.name || model.name == '' || !model.description || model.description == '' || model.name.length > 30 || 
      model.description.length > 40">确认</button>
    <button type="button" class="btn btn-outline-metal" (click)="d('Cross click')">取消</button>
  </div>
</ng-template>

<!-- modal:修改产品 -->
<ng-template #contentUpdate let-c="close" let-d="dismiss">
  <p *ngFor="let alert of alertsModal" class="lsq-alert">
    <ngb-alert [type]="alert.type" (close)="closeAlertModal(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="modal-header">
    <h4 class="modal-title">修改产品</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-product-modal">
    <!-- <p>One fine body&hellip;</p> -->
    <!-- 左列 -->
    <div class="row center-align">
      <div class="modal-col">
        <div class="form-inline">
          <label class="margin-bottom-15 label-left">产品名称:</label>
          <input type="text" class="form-control form-control-left" id="add-product-name"
            maxlength="30" placeholder="" [(ngModel)]="model.name">
        </div>
        <div class="form-inline">
          <label class="margin-bottom-15 label-left">产品描述:</label>
          <input type="text" class="form-control form-control-left" id="add-product-name"
            maxlength="30" placeholder="" [(ngModel)]="model.description">
        </div>
        <div class="form-inline">
          <label class="margin-bottom-15 label-left">产品描述:</label>
          <select name="profile" [(ngModel)]="model.device" class="form-control" style="margin-right: 15px;height: 100%;">
            <option *ngFor="let index of deviceList" [ngValue]="index">
              {{ index.name }}
            </option>
          </select>
        </div>
        <!-- <div class="form-inline">
              <label class="control-label label-left">制造商:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">制造商联系方式:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">PRODUCTKEY:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div>
          <div class="form-inline">
              <label class="control-label label-left">PRODUCTSECRET:</label>
              <input type="text" class="form-control form-control-left" id="" placeholder="">
          </div> -->
      </div>
      <!-- 右列 -->
      <!-- <div class="modal-col">
          <label class="control-label">参数：</label>
          <div class="form-group">
              <label class="control-label">输入参数</label>
              <div><a class="" (click)="openAddParams(content2)"><span style="color:blue">+增加参数</span></a></div>
          </div>
          <div class="form-group">
              <label class="control-label">增加参数</label>
              <div><a class="" (click)="openAddParams(content2)"><span style="color:blue">+增加参数</span></a></div>
          </div>
        </div> -->

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="updateModel()" [disabled]="!model.name || model.name == '' || 
      !model.description || model.description == '' || model.name.length > 30 || model.description.length > 40">确认</button>
    <button type="button" class="btn btn-outline-metal"  (click)="d('Cross click')">取消</button>
  </div>
</ng-template>

<!-- 删除位置 -->
<ng-template #contentDel let-c="close" let-d="dismiss">
  <app-sq-modal [input]="modelData" (output)="closeModal($event)"></app-sq-modal>
</ng-template>


<!-- modal下modal:增加参数 -->
<ng-template #content2 class="modal1" let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">新建参数</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
          <div class="form-group">
            <label class="control-label"><span style="color:red">*</span>参数名称</label>
            <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
              <label class="control-label"><span style="color:red">*</span>标识符</label>
              <input type="text" class="form-control" id="" placeholder="">
          </div>
          <div class="form-group">
              <label class="control-label"><span style="color:red">*</span>数据类型</label>
              <select class="form-control">
                <option>int32</option>
                <option>float</option>
                <option>double</option>
                <option>enum</option>
                <option>bool</option>
                <option>text</option>
                <option>date</option>
                <option>array</option>
              </select>
          </div>
          <div class="form-group">
              <label class="control-label"><span style="color:red">*</span>取值范围：</label>
              <div class="form-inline">
                <input type="text" class="form-control sm-width" id="" placeholder="">
                <span class="ssm-width">~</span>
                <input type="text" class="form-control sm-width" id="" placeholder="">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label"><span style="color:red">*</span>分辨率</label>
              <div>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label">单位：</label>
              <div>
                  <select class="form-control">
                      <option>无</option>
                      <option>米/m</option>
                      <option>千米/km</option>
                      <option>分米/dm</option>
                      <option>厘米/cm</option>
                      <option>毫米/mm</option>
                      <option>微米/μm</option>
                      <option>纳米/nm</option>
                      <option>...</option>
                    </select>
              </div>
          </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="c('Close click')">确认</button>
      <button type="button" class="btn btn-outline-metal"  (click)="d('Cross click')">取消</button>
    </div>
</ng-template>

<!-- 产品管理页面 -->
<div class="bodyofproduct">
      <p *ngFor="let alert of alerts" class="lsq-alert">
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
      </p>
    <!-- 卡片形式 -->
    <div class="card card-primary panel-default">
      <div class="card-header">
        <span>产品管理</span>
        <div class="card-block add-product">
          <a class="cur-pointer theme-text btn-a" (click)="openNewProduct(contentAdd)">新建产品</a>
        </div>
      </div>
      <!-- 搜索产品 -->
      <div class="row card-block search-product">
          <!-- 表单，搜索产品 -->
          <form class="form-inline search-options">
            <span>所属类型：</span>
            <select name="profile" [(ngModel)]="currentType" (change)="deviceTypeChange()" class="form-control">
              <option *ngFor="let index of deviceTypes" [ngValue]="index">
                {{ index.name }}
              </option>
            </select>
            <!-- 日期 -->
            <!-- <input type="date" class="form-control" value="2018-06-01"/> -->
            <!-- 输入框 -->
            <div class="form-group inner-addon left-addon ">
                <div class="form-group">
                  <!-- <i class="fa fa-search search-icon"></i> -->
                  <!-- <input type="text" class="form-control border-none" name="search-content" id="" placeholder="{{'XXX'}}"/> -->
                  <input id="sole-input3" [(ngModel)]="queryStr" class="form-control searchbox-content-common" type="text" 
                    name="word" autocomplete="off" maxlength="30" placeholder="检索名称、描述" (keydown)="onKeydown($event)">
                </div>
            </div>
            <button class="btn btn-bg" (click)="execQuery()">搜索</button>
          </form>
      </div>

      <!-- 显示已有产品 -->
      <div class="card-block">
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>序号</th>
              <th>产品名称</th>
              <th>产品描述</th>
              <th>所属类型</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of productListItems; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{changeName(item.type)}}</td>
              <td style="text-align: center">
                <div class="modify-strategy d-inline">
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openUpdataModal(contentUpdate, item)">修改</a>
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openDelModal(contentDel, item)">删除</a>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

        <div *ngIf="productListItems.length === 0 || !productListItems">无数据！</div>
        <div *ngIf="productListItems.length > 0">
          <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="pageChange()"></ngb-pagination>
        </div>

      </div>
    </div>

</div>