@import '../../../../assets/css/variable.scss';
@import '../../../../assets/css/xylg.scss';
.bodyofproduct {
    width: calc(100vw - 50px);
    height: 100vh;
    padding: 30px;
    position: relative;
}
.card-header {
    border-bottom: 0px;
    position: relative;
}
.add-product {
    margin: 0px;
    text-align: right;
    position: absolute;
    right: 5px;
    bottom: 5px;
    // .extral-padd {
    //     padding-right: 12px;
    // }
}
.card-block {
    margin: 5px 0px 0px;
    min-height: 38px;
}
.card-primary {
    margin-bottom: 15px;
}
.search-product {
    font-size: 14px;
    min-height: 38px;

    .search-options {
        //padding-left: 20px;
        .form-control {
            font-size: 14px;
            width: auto;
            height: 38px;
            margin-right: 5px;
        }
        
        .search-icon {
            font-size: 20px;
            margin: 5px;
        }
    }
}
.btn-search {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: $color-brand-color;
}
.btn-search:focus, .btn-search:hover, .btn-search:active, {
    background-color: $color-hover-color;
}
// .modal1 {
//     padding: 0 20px 0;
// }
.modal-body {
    .form-control {
    font-size: 14px;
    height: calc(1.8rem + 2px);
    }
    .form-control-left {
        margin-bottom: 5px;
        width: 200px;
        
    }
    .label-left {
        margin-right: 5px;
        text-align: right;
        width: 121px;
    }
    .modal-col {
        margin-left: 15px;
        // display: inline;
    }
    .sm-width {
        width: 168px;
    }
    .ssm-width {
        width: 11px;
        margin: 0 5px 0;
    }
}

.add-product-modal {
    text-align: center;
    width: 100%;
    // 使居中
    .center-align {
        margin: 0 auto;
        width: 500px;
    }
}



.manage-class {
    font-size: 20px;
    padding-right: 1px;
    cursor: pointer;
}
.manage-class:focus, .manage-class:hover {
    background-color: $color-brand-color;
}
.manage-class:active {
    background-color: $color-hover-color;
}

.margin-bottom-15 {
    margin-bottom: 15px;
    padding: 5px;
}