@import '../css/variable.scss';
.theme-bg { // 主题色
    background: $color-bg;
}
.theme-text {
    color: $color-theme-text
}
.sidebar-bg { // 侧边背景色
    background: $color-sidebar-bg;
}
.btn-bg{// 按钮颜色
    background: $color-brand-color;
    color: #fff;
}
.btn-bg2{// 取消按钮颜色
    background: $color-white;
    color:#000;
}


