<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">窗体</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <p>One fine body&hellip;</p> -->
      <!--窗体内容 -->
      <table class="tabl">
        <tr>
          <td>角色名称:</td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>角色描述:</td>
          <td>
            <textarea rows="3" cols="90" class="ta"></textarea>
          </td>
        </tr>
      </table>
      <div>
        <div class="div-a">
          <div>
            功能权限：
          </div>
          <table class="bor tabl-a">
            <tr >
              <td valign="top">
                <div>
                  <ul id="guitree" class="ztree"></ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="div-a">
          <div>
            数据权限：
          </div>
          <table class="bor">
            <tr>
              <td valign="top">
                <div>
                  <ul id="treeDemo" class="ztree"></ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button style="margin-right: 20px;" type="submit" class="btn modal-btn">确定</button>
      <button (click)="c('Close click')" type="button" class="btn modal-btn">取消</button>
    </div>
  </ng-template>
<div class="table-responsive">
  <table class="table table-bordered  table-bg tabl-b">
    <tr>
      <td>
        <!--搜索按钮组-->
        <div class="form-group inner-addon left-addon div-search">
          <span class="span-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <div class="form-group div-i">
            <!-- <i class="fa fa-search search-icon"></i> -->
            <input type="text" class="form-control border-none search-input" name="search-content" id="" placeholder="{{'XXX'}}"/>
          </div>
      </div>
      </td>
      <td>
        <input type="date" class="form-control" value="Start date" />
      </td>
      <td>
        
        <div class="btn-group btn-parent">
          <button class="btn btn-bg" (click)="open(content)">新建角色</button>
        </div>
      </td>
    </tr>
    <tr>
      <td style="border: none;border-top: 1px solid">角色</td>
      <td style="border: none;border-top: 1px solid">描述</td>
      <td style="border: none;border-top: 1px solid">时间</td>
      <td style="border: none;border-top: 1px solid">操作</td>
    </tr>
    <tr>
      <td class="success" style="border: none">...</td>
      <td class="success" style="border: none">...</td>
      <td class="warning" style="border: none">...</td>
      <td class="warning" style="border: none">
        <div>
          <button class="btn-check">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
          <button class="btn-check">
            <i class="fa fa-wrench btn-i" aria-hidden="true"></i>
          </button>
          <button class="btn-check">
            <i class="fa fa-times-circle btn-i" aria-hidden="true"></i>
          </button>
        </div>
      </td>
      <!-- <td class="danger">...</td>
        <td class="info">...</td> -->
    </tr>
  </table>
</div>