<div class="air-data-report">
  <!-- 左侧 -->
  <div class="air-left">
      <div class="title">
        <span>行政区域管理</span>
      </div>
      <!-- 行政区域列表 -->
      <div style="padding: 15px;">
          <!-- 树状 -->
          <ul id="treeDemo" class="ztree thetree"></ul>
      </div>
  </div>

  <!-- 右侧 -->
  <div class="air-right">
    <!-- 监测点信息 -->
    <div  class="point-info">
        <!-- 右侧，下半部-->
        <div class="panel-default info-form">

            <!-- 右侧，上半部，头部，简短信息 -->
            <div class="card-header extral-margin">
                <span>区域范围名称：</span>
                <span class="fr">
                  <a class="cur-pointer theme-text btn-a ">新增区域</a>
                  <a class="cur-pointer theme-text btn-a ">删除</a> 
                </span>      
            </div>
            <!-- 搜索行政区域 -->
            <div class="row card-block search-product ">
              <!-- 表单，搜索行政区域 -->
              <form class="form-inline search-options">
                <!-- 输入框 -->
                <div class="form-group inner-addon left-addon ">
                    <div class="form-group">
                      <!-- <input id="sole-input3" [(ngModel)]="queryStr" class="form-control searchbox-content-common" type="text" 
                        name="word" autocomplete="off" maxlength="30" placeholder="检索区域名称" (keydown)="onKeydown($event)"> -->
                      <input id="sole-input3" class="form-control searchbox-content-common" type="text" 
                      name="word" autocomplete="off" placeholder="检索行政区域名称">
                    </div>
                </div>
                <button class="btn btn-bg" (click)="execQuery()">搜索</button>
              </form>
            </div>
            <!--当前设备详细数据展示-->
            <div id="exportableTable" class="card-block">
              <table class="table table-hover">
                <thead class="table-header">
                  <tr>
                    <th><input type="checkbox"></th>
                    <th>序号</th>
                    <th>名称</th>
                    <th>行政级别</th>
                    <th>经/纬度</th>
                    <th style="text-align: center">操作</th>
                  </tr>
                </thead>
                <tbody >
              
                  <tr>
                    <td>
                      <input type="checkbox">
                      <!-- <input id={{administration.id}} type="checkbox" ng-model="Selected" ng-click="check(administration.id,Selected)" /> -->
                    </td> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center">
                      <div class="modify-strategy d-inline">
                        <a class="cur-pointer btn-a theme-text d-inline" (click)="openUpdataAdministration()">修改</a>
                        <a class="cur-pointer btn-a theme-text d-inline" (click)="openDelAdministration()">删除</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          <!-- <div *ngIf=" historydatalistItems.length ==0">无数据！</div> -->
          <!-- 分页 开始-->
          <!-- <div *ngIf=" historydatalistItems.length > 0">
            <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true"
              [ellipses]="false" [boundaryLinks]="true" (pageChange) = "pageChange()"></ngb-pagination>
          </div> -->
            <!-- 分页 结束 -->
        </div>
    </div>
  </div>

</div>
