@import '../../../assets/css/variable.scss';
.bodyofissuedata {
    width: calc(100vw - 50px);
    padding: 30px;
}
.card-header {
    border-bottom: 0px;
    position: relative;

    // .add-user {
    //     margin: 0px;
    //     text-align: right;
    //     position: absolute;
    //     right: 15px;
    //     bottom: 5px;
    // }
}
.card-block {
    margin: 5px 0px 0px;
    min-height: 38px;
}
// .search-icon {
//     font-size: 20px;
//     margin: 5px;
//     margin-left: 0px;
// }
// .search-icon:hover, .search-icon:active {
//     color: #007bff;
//     cursor: pointer;
//     // background-color: #007bff;
// }
// .add-user-modal {
//     text-align: center;
//     width: 100%;
// }

// .admin-manage {
//     .form-control {
//         font-size: 14px;
//         width: auto;
//         height: 38px;
//         margin-right: 5px;
//     }
// }

.lineheight {
    line-height: 1.0;
}
.extral-margin {
    margin-right: 10px;
}
.input-group {
    .form-control {
        width: 120px;
    }
}
