@media (max-width: 970px) { 

    .homepage {
        width: 100vw !important;
        margin: 0;
        padding: 0 !important;
    }
    .dash {
     display: none;
    }

    .dash-phone{
        width: 100%;
        padding-top: 120px;
        background: linear-gradient(45deg, #233A38, #233A38, #45939d);
        background: -webkit-linear-gradient(45deg,#233A38, #233A38, #45939d);
    /* Opera 11.1 - 12.0 */
        background: -o-linear-gradient(45deg,#233A38, #233A38, #45939d);
        /* Firefox 3.6 - 15 */
        background: -moz-linear-gradient(45deg,#233A38, #233A38, #45939d);
    }
    .title-phone {
        height: 50px;
        line-height: 50px;
    }
    .padding-left-15 {
        padding-left: 15px;
    }

    .margin-15{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .dash-item-first-phone {
        text-align: center;
        background: #6FB9BE;
        margin-bottom: 15px;
        margin-top: 30px;

    }
    // 列表样式框
    .dash-item-second-phone {
        margin-bottom: 16px;
        text-align: center;
       // background: #506173;
        background: #45939D;
        cursor: pointer;
        &:hover {
            background: #6FB9BE;
        }
    }
    .dash-item-second-phone1 {
        height: 80%;
        margin-bottom: 1px;
        text-align: center;
        // background: #506173;
        background: #45939D;
        cursor: pointer;
    }
}

@media (min-width: 970.98px) {
    .dash-phone {
        display: none;
    }
 }

 .hideme {
     background-color:#a5a6a7 !important;
    .content{
        &:hover {
         background: #a5a6a7 !important;
        }
    }
 }

 .showme {
         cursor: pointer;
         &:hover {
         background: #6FB9BE;
    }
 }

.homepage {
    height: 100vh;
    width: calc(100vw - 50px);
    // background: #000;
    background: linear-gradient(45deg, #233A38, #233A38, #45939d);
    background: -webkit-linear-gradient(45deg,#233A38, #233A38, #45939d);
  /* Opera 11.1 - 12.0 */
    background: -o-linear-gradient(45deg,#233A38, #233A38, #45939d);
    /* Firefox 3.6 - 15 */
    background: -moz-linear-gradient(45deg,#233A38, #233A38, #45939d);
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.dash{
    height: 80%;
    width: 100%;
}
.row-first {
    height: 128px;
    margin-bottom: 30px;
}

.row-second {
    height: calc(100% - 160px);

}

.dash-item-first {
    height: 100%;
    text-align: center;
    // background: #41AEE6;
    background: #6FB9BE;

}

.pointer {
    cursor: pointer;
}


.dash-item-second {
    height: 30%;
    margin-bottom: 16px;
    text-align: center;
    // background: #506173;
    background: #45939D;



}


.dash-item-second1 {
    height: 30%;
    // margin-bottom: 16px;
    text-align: center;
    // background: #506173;
    background: #45939D;

}

.content {
    i {
        font-size: 32px;
    }
}
.padding-left-0{
    padding-left: 0;
}
.margin-right-33 {
    margin-right: 30px;
}

.erWei {   
    background: url(../../../assets/imgs/app-apk.png);
    background-size: 100% 100%; 
}



