app-homepage {
    background: #000;
    color: #fff;
}
.homepage {
    height: 100vh;
    width: calc(100vw - 50px);
    background: #000;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.dash{
    height: 80%;
    width: 100%;
}
.dash-pad {
    padding: 0px;
}
.dash-parent {
    height: 30%;
    width: 100%;
    margin-bottom: 15px;
    a {
        display: inline-block;
    }
}
.dash-row {
    height: 100%;
    width: 100%;
}
.dash-item {
   
    height: 100%;
    text-align: center;
    background: #506173;
    cursor: pointer;

}
.dash-item-first {
   
    height: 100%;
    text-align: center;
    background: #41AEE6;

}
.content {
    i {
        font-size: 32px;
    }
}

