<div class="homepage row align-items-center justify-content-center">

    <div class="dash">
        <!-- 第一行 -->
        <div class="row row-first">
            <!-- <div class="col-md-1"></div> -->
            <!-- 智慧城市标题 -->
            <div class="col-md-6 padding-left-0 margin-right-32" *ngIf="getture('SC-000')">
                <div class="row align-items-center justify-content-center dash-item-first">
                    <div class="col-md-12 content" (click)="goToZheRoute('/home/homepage')">
                        <h5>智慧城市</h5>
                    </div>
                </div>
            </div>
            <!-- 设备管理标题 -->
            <div class="col-md-4 padding-left-0 margin-right-32" *ngIf="getture('DM-000')">
                <div class="row align-items-center justify-content-center dash-item-first">
                    <div class="col-md-12 content" (click)="goToZheRoute('/home/homepage')">
                        <h5>设备管理</h5>
                    </div>
                </div>
            </div>
            <!-- 系统管理标题 -->
            <div class="col-md-2 padding-left-0">
                <div class="row align-items-center justify-content-center dash-item-first">
                    <div class="col-md-12 content" (click)="goToZheRoute('/home/homepage')">
                        <h5>系统管理</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- 第二行 -->
        <div class="row row-second">
            <!-- <div class="col-md-1"></div> -->
            <!-- 1列 -->
            <div class="col-md-2 col-12 padding-left-0 " *ngIf="getture('SC-000')">
                <!-- 灾害报警 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/calamity')"
                    *ngIf="getture('SC-001')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-bolt nav-icon"></i>
                            </span>
                        </p>
                        <p>灾害报警</p>
                    </div>

                </div>
                <!-- 水质 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/water')"
                    *ngIf="getture('SC-002')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-tint nav-icon"></i>
                            </span>
                        </p>
                        <p>水质监测</p>
                    </div>

                </div>
                <!-- 电气 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/electrical')"
                    *ngIf="getture('SC-003')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-eye nav-icon"></i>
                            </span>
                        </p>
                        <p>电气安全</p>
                    </div>

                </div>
            </div>

            <!-- 2列 -->
            <div class="col-md-2 col-12 padding-left-0" *ngIf="getture('SC-000')">
                <!-- 空气质量 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/air/air-home')"
                    *ngIf="getture('SC-004')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-snowflake-o nav-icon"></i>
                            </span>
                        </p>
                        <p>空气质量</p>
                    </div>

                </div>
                <!-- 智慧照明 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/light/light-home')"
                    *ngIf="getture('SC-005')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-lightbulb-o nav-icon"></i>
                            </span>
                        </p>
                        <p>智慧照明</p>
                    </div>

                </div>
                <!-- 窨井管理 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/cover')"
                    *ngIf="getture('SC-006')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-life-ring nav-icon"></i>
                            </span>
                        </p>
                        <p>窨井管理</p>
                    </div>

                </div>
            </div>

            <!-- 3列 -->
            <div class="col-md-2 col-12 padding-left-0 margin-right-22" *ngIf="getture('SC-000')">
                <!-- 智慧交通 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/traffic')"
                    *ngIf="getture('SC-007')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-car nav-icon"></i>
                            </span>
                        </p>
                        <p>智慧交通</p>
                    </div>

                </div>

                <!-- LED控制 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/application/led')"
                    *ngIf="getture('SC-008')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-building nav-icon"></i>
                            </span>
                        </p>
                        <p>LED控制</p>
                    </div>

                </div>

                <!-- 设备监控 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('/home/monitor')"
                    *ngIf="getture('DA-000')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-desktop nav-icon"></i>
                            </span>
                        </p>
                        <p>设备监控</p>
                    </div>

                </div>
            </div>

            <!-- 4列 -->
            <div class="col-md-2 col-12 padding-left-0" *ngIf="getture('DM-000')">
                <!-- 设备 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/devices')"
                    *ngIf="getture('DM-001')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-window-restore nav-icon"></i>
                            </span>
                        </p>
                        <p>设备</p>
                    </div>
                </div>
                <!-- 产品 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/product')"
                    *ngIf="getture('DM-002')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-product-hunt nav-icon"></i>
                            </span>
                        </p>
                        <p>产品</p>
                    </div>
                </div>
                <!-- 位置 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/position')"
                    *ngIf="getture('DM-003')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-map-marker nav-icon"></i>
                            </span>
                        </p>
                        <p>位置</p>
                    </div>
                </div>
            </div>
            <!-- 5列 -->
            <div class="col-md-2 col-12 padding-left-0 margin-right-22" *ngIf="getture('DM-000')">
                <!-- 行政区域管理 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/administration')"
                    *ngIf="getture('DM-004')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-dropbox"></i>
                            </span>
                        </p>
                        <p>行政区域</p>
                    </div>
                </div>
                <!-- 道路管理 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/road')"
                    *ngIf="getture('DM-005')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-road" aria-hidden="true"></i>
                            </span>
                        </p>
                        <p>道路</p>
                    </div>
                </div>
                <!-- 客户管理-->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/device/customer')"
                    *ngIf="getture('DM-007')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </p>
                        <p>客户管理</p>
                    </div>
                </div>
            </div>

            <!-- 用户管理 -->
            <div class="col-md-2 col-12 padding-left-0">
                <!-- 用户管理 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/user/admin')"
                    *ngIf="getture('SM-001')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-user-o nav-icon"></i>
                            </span>
                        </p>
                        <p>用户管理</p>
                    </div>
                </div>
                <!-- 角色管理 -->
                <div class="row align-items-center justify-content-center dash-item-second" (click)="goToZheRoute('home/user/right')"
                    *ngIf="getture('SM-002')">
                    <div class="col-md-12 content">
                        <p>
                            <span>
                                <i class="fa fa-user-secret nav-icon"></i>
                            </span>
                        </p>
                        <p>角色管理</p>
                    </div>
                </div>
                <!-- app下载 -->
                <div class="row align-items-center justify-content-center dash-item-second btn1" (click)="goToChange()"
                    *ngIf="flag">

                    <div class="col-md-12 content pp">
                        <p>
                            <span>
                                <i class="fa fa-download nav-icon"></i>
                            </span>
                        </p>
                        <p class="app">APP下载</p>
                    </div>

                </div>
                <div class="row align-items-center justify-content-center dash-item-second1 erWei" *ngIf="!flag"
                    (click)="goToChange()">
                    <!-- <img src="../../../assets/imgs/user-profile.png" alt=""> -->
                </div>
            </div>

        </div>


    </div>

    <div class="dash-phone">
        <!-- 智慧城市标题 -->
        <div class="row align-items-center justify-content-center dash-item-first-phone margin-15" *ngIf="getture('SC-000')">
            <div class="col-md-12 " (click)="goToZheRoute('/home/homepage')">
                <h5 class="title-phone">智慧城市</h5>
            </div>
        </div>

        <!-- 9宫格 -->
        <div class="row padding-left-15">
            <div class="col-4 padding-left-0 ">
                <!-- 灾害报警 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-001')">

                    <div class="col-md-12 pointer" (click)="goToZheRoute('home/application/calamity')">
                        <p>
                            <span>
                                <i class="fa fa-bolt nav-icon"></i>
                            </span>
                        </p>
                        <p>灾害报警</p>
                    </div>

                </div>
                <!-- 水质检查 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-002')">
                    <div class="col-md-12 " style="cursor: pointer;" (click)="goToZheRoute('home/application/water')">
                        <p>
                            <span>
                                <i class="fa fa-tint nav-icon"></i>
                            </span>
                        </p>
                        <p>水质监测</p>
                    </div>

                </div>
                <!-- 电气安全 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-003')">
                    <div class="col-md-12 " (click)="goToZheRoute('home/application/electrical')">
                        <p>
                            <span>
                                <i class="fa fa-eye nav-icon"></i>
                            </span>
                        </p>
                        <p>电气安全</p>
                    </div>

                </div>
            </div>

            <div class="col-4 padding-left-0">
                <!-- 空气质量 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-004')">
                    <div class="col-md-12 " (click)="goToZheRoute('home/application/air')">
                        <p>
                            <span>
                                <i class="fa fa-snowflake-o nav-icon"></i>
                            </span>
                        </p>
                        <p>空气质量</p>
                    </div>

                </div>
                <!-- 智慧照明 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-005')">
                    <div class="col-md-12 " (click)="goToZheRoute('home/application/light')">
                        <p>
                            <span>
                                <i class="fa fa-lightbulb-o nav-icon"></i>
                            </span>
                        </p>
                        <p>智慧照明</p>
                    </div>

                </div>
                <!-- 窨井管理 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-006')">
                    <div class="col-md-12" (click)="goToZheRoute('home/application/cover')">
                        <p>
                            <span>
                                <i class="fa fa-life-ring nav-icon"></i>
                            </span>
                        </p>
                        <p>窨井管理</p>
                    </div>

                </div>
            </div>

            <div class="col-4 padding-left-0 ">
                <!-- 智慧交通 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-007')">
                    <div class="col-md-12 " (click)="goToZheRoute('home/application/traffic')">
                        <p>
                            <span>
                                <i class="fa fa-car nav-icon"></i>
                            </span>
                        </p>
                        <p>智慧交通</p>
                    </div>

                </div>

                <!-- LED控制 -->
                <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('SC-008')">
                    <div class="col-md-12" (click)="goToZheRoute('home/application/led')">
                        <p>
                            <span>
                                <i class="fa fa-building nav-icon"></i>
                            </span>
                        </p>
                        <p>LED控制</p>
                    </div>

                </div>
            </div>
            <!-- 设备监控 -->
            <div class="row align-items-center justify-content-center dash-item-second-phone" *ngIf="getture('DA-000')">
                <div class="col-md-12 " (click)="goToZheRoute('home/monitor')">
                    <p>
                        <span>
                            <i class="fa fa-desktop nav-icon"></i>
                        </span>
                    </p>
                    <p>设备监控</p>
                </div>

            </div>
        </div>

        <!-- 设备管理标题 -->
        <div class="row align-items-center justify-content-center dash-item-first-phone margin-15" *ngIf="getture('DM-000')">
            <div class="col-md-12 " (click)="goToZheRoute('/home/homepage')">
                <h5 class="title-phone"> 设备管理</h5>
            </div>
        </div>
        <!-- 设备管理 竖条3个 -->
        <div class="row padding-left-15">
            <!-- 设备 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('DM-001')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">


                    <div class="col-md-12 " (click)="goToZheRoute('home/device/devices')">
                        <p>
                            <span>
                                <i class="fa fa-window-restore nav-icon"></i>
                            </span>
                        </p>
                        <p>设备</p>
                    </div>

                </div>

            </div>
            <!-- 产品 -->
            <div class="col-4 padding-left-0" *ngIf="getture('DM-002')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/device/product')">
                        <p>
                            <span>
                                <i class="fa fa-product-hunt nav-icon"></i>
                            </span>
                        </p>
                        <p>产品</p>
                    </div>

                </div>

            </div>
            <!-- 位置 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('DM-003')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/device/position')">
                        <p>
                            <span>
                                <i class="fa fa-map-marker nav-icon"></i>
                            </span>
                        </p>
                        <p>位置</p>
                    </div>

                </div>

            </div>
        </div>
        <!-- 设备管理 新增3个 -->
        <div class="row padding-left-15">
            <!-- 行政区域 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('DM-001')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">


                    <div class="col-md-12 " (click)="goToZheRoute('home/device/administration')">
                        <p>
                            <span>
                                <i class="fa fa-dropbox"></i>
                            </span>
                        </p>
                        <p>行政区域</p>
                    </div>

                </div>

            </div>
            <!-- 道路 -->
            <div class="col-4 padding-left-0" *ngIf="getture('DM-002')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/device/road')">
                        <p>
                            <span>
                                <i class="fa fa-road" aria-hidden="true"></i>
                            </span>
                        </p>
                        <p>道路</p>
                    </div>

                </div>

            </div>
            <!-- 客户管理 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('DM-007')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/device/customer')">
                        <p>
                            <span>
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </p>
                        <p>客户管理</p>
                    </div>

                </div>

            </div>
        </div>

        <!-- 系统管理标题 -->
        <div class="row align-items-center justify-content-center dash-item-first-phone margin-15">
            <div class="col-md-12 " (click)="goToZheRoute('/home/homepage')">
                <h5 class="title-phone">系统管理</h5>
            </div>
        </div>
        <!-- 系统管理标题 -->
        <div class="row padding-left-15">
            <!-- 用户管理 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('SM-001')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/user/admin')">
                        <p>
                            <span>
                                <i class="fa fa-user-o nav-icon"></i>
                            </span>
                        </p>
                        <p>用户管理</p>
                    </div>
                </div>
            </div>
            <!-- 角色管理 -->
            <div class="col-4 padding-left-0 " *ngIf="getture('SM-002')">
                <div class="row align-items-center justify-content-center dash-item-second-phone">
                    <div class="col-md-12 " (click)="goToZheRoute('home/user/right')">
                        <p>
                            <span>
                                <i class="fa fa-user-secret nav-icon"></i>
                            </span>
                        </p>
                        <p>角色管理</p>
                    </div>
                </div>
            </div>
            <!-- app下载 -->
            <div class="col-4 padding-left-0 ">
                <div class="row align-items-center justify-content-center dash-item-second-phone btn1" (click)="goToChange() "
                    *ngIf="flag">
                    <div class="col-md-12 pp">
                        <p>
                            <span>
                                <i class="fa fa-download nav-icon"></i>
                            </span>
                        </p>
                        <p class="app">APP下载</p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center dash-item-second-phone1 erWei" *ngIf="!flag"
                    (click)="goToChange()">
                    <!-- <img src="../../../assets/imgs/user-profile.png" alt=""> -->
                </div>
            </div>

        </div>




    </div>

</div>