<!-- 地图 -->
<div class="map_warp">
  <!-- 选择区域 -->
    <div class="Selection-Region" *ngIf="visible == true">
      <!-- 城市列表 -->
      <div class="d-inline-block sel-area-block" (mouseleave)="citylistMouseleave()">
    
        <span class="cl-blue cur-pointer" (mouseover)="showCiyt()">
          <span class="filter" *ngIf="map_model.currentCity">{{map_model.currentCity.name}}</span>
          <span class="filter" *ngIf="!map_model.currentCity">选择城市</span>
          <!-- <i class="fa fa-bell-o nav-icon " aria-hidden="true"></i> -->
        </span>
        <div id="city-panel" class="city-panel dropdown_panel" *ngIf="cityshow">
          <div class="dropdown_panel_inner">
            <span class="menu_arrow_left"></span>
            <dl *ngFor="let item of map_model.cityList">
              <dt>{{item.name}}</dt>
              <dd *ngIf="item.children && item.children.length > 0">
                <a title="智慧城市" *ngFor="let itemc of item.children" (click)="selecteCity(itemc)">{{itemc.name}}</a>
              </dd>
            </dl>
          </div>
    
        </div>
    
      </div>
    
      <!-- 区域列表 -->
      <div class="d-inline-block sel-area-block" (mouseleave)="arealistMouseleave()">
    
        <span class="cl-blue cur-pointer" (mouseover)="showArea()">
          <span class="filter" *ngIf="!map_model.currentArea">选择区域</span>
          <span class="filter" *ngIf="map_model.currentArea">{{map_model.currentArea.name}}</span>
        </span>
    
        <div class="arealist-wrap dropdown_panel" *ngIf="areashow">
          <div class="dropdown_panel_inner">
            <span class="menu_arrow_left"></span>
            <ul class="arealist" data-type="area">
              <!-- <li data-val="0" class="arealist-item" (mouseover)="arealistMouseNone()">
                        <em>不限</em>
                    </li> -->
              <li class="arealist-item" *ngFor="let node of map_model.currentChildren" (mouseover)="arealistMouseover(node)"
                (click)="selecteblock(node)">
                <em>{{node.name}}</em>
              </li>
    
            </ul>
            <div class="blocklist-wrap" *ngIf="map_model.currentBlock.length > 0">
              <ul class="blocklist" data-type="block">
                <!-- <li data-val="0">不限</li> -->
                <li *ngFor="let block of map_model.currentBlock" (click)="selecteblock(block)">{{block.name}}</li>
    
              </ul>
            </div>
    
    
          </div>
    
    
        </div>
    
      </div>
    
    
    </div>


  <!-- 右边按钮 -->
  <div class="btn-icon" *ngIf="visible == true">
    <!-- <div class="d-inline-block icon-item cur-pointer">
      <img src="../../../../assets/imgs/control.png" alt="图片">

    </div>

    <div class="d-inline-block icon-item cur-pointer">

      <img src="../../../../assets/imgs/switch.png" alt="图片" (click)="enterFullScreen()">
    </div> -->

  </div>
  <!-- 地图 -->
  <div #map5 id="map_container5" class="map_container no-fulls-map"></div>
</div>