<div class="table-responsive">
  <table class="table table-bordered" style="width: 1170px;margin: 0 auto;">
    <tr>
      <td style="border:none">
        <!--搜索按钮组-->
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group" style=" border:1px solid darkslategray;border-radius:30px;">
              <span class="input-group-btn" style="border: 1px;">
                <button class="btn btn-check" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
              <input type="text" class="form-control" style="border: none;border-radius:30px;">
            </div>
          </div>
        </div>
      </td>
      <td style="border:none">
        <select class="form-control">
          <option>角色</option>
          <option>管理员</option>
        </select>
      </td>
      <td style="border:none">
        <input type="date" class="form-control" value="Start date" />
      </td>
      <td style="border:none">
        <input type="date" class="form-control" value="End date" />
      </td>
      <td style="border:none">
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <p>One fine body&hellip;</p> -->
            <div style="width: 300px; margin: 0 auto;">
              <table class="tb-tr">
                <tr>
                  <th>账户名称：</th>
                  <th>
                    <input type="text">
                  </th>
                </tr>
                <tr>
                  <th>密码：</th>
                  <th>
                    <input type="text">
                  </th>
                </tr>
                <tr>
                  <th>密码确认：</th>
                  <th>
                    <input type="text">
                  </th>
                </tr>
                <tr>
                  <th>联系方式：</th>
                  <th>
                    <input type="text">
                  </th>
                </tr>
                <tr>
                  <th>所属角色：</th>
                  <th>
                    <select>
                      <option value="">选择</option>
                      <option value="">管理员</option>
                    </select>
                  </th>
                </tr>
              </table>
              <div style="float: right;">
                <button type="button" class="btn-body">确定</button>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="btn-group btn-parent">
          <button class="btn btn-default" (click)="open(content)">新建角色</button>
        </div>
      </td>
    </tr>
    <tr>
      <td style="border: none;border-top: 1px solid">账户名称</td>
      <td style="border: none;border-top: 1px solid">联系方式</td>
      <td style="border: none;border-top: 1px solid">时间</td>
      <td style="border: none;border-top: 1px solid">角色</td>
      <td style="border: none;border-top: 1px solid">操作</td>

    </tr>
    <tr>
      <td class="success" style="border: none">...</td>
      <td class="success" style="border: none">...</td>
      <td class="warning" style="border: none">...</td>
      <td class="success" style="border: none">...</td>
      <td class="success " style="border: none">
        <div>
          <button class="btn-check">
            <i class="fa fa-wrench" aria-hidden="true" style="margin-right: 6px;"></i>
          </button>
          <button class="btn-check">
            <i class="fa fa-lock" aria-hidden="true" style="margin-right: 6px;"></i>
          </button>
          <button class="btn-check">
            <i class="fa fa-times-circle" aria-hidden="true" style="margin-right: 6px;"></i>
          </button>
        </div>

      </td>
      <!-- <td class="danger">...</td>
      <td class="info">...</td> -->
    </tr>
  </table>
</div>