.right{
    float: right;
}
.tb-tr{
    border-collapse:separate; 
    border-spacing:20px;
}
.pic{
    float: right;
}
.btn-body{
    height: 36px;
    border-color: #4a4a4a;
    font-size: 14px;
    background-color: #ffffff;
    color:  #1b1b1b;
}
.btn-check{
    border:0px;
    background-color:transparent;
    cursor: pointer;
}
