<p>
  用户管理
</p>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td style="border:none">搜索框....</td>
      <td style="border:none">角色标签栏</td>
      <td style="border:none">时间标签</td>
      <td style="border:none">
          <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                    <h4 class="modal-title">新建角色</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              <div class="modal-body">
                <!-- <p>One fine body&hellip;</p> -->
                <table>
                  <tr>
                    <th>账户名称：</th>
                    <th><input type="text"></th>
                  </tr>
                  <tr>
                      <th>密码：</th>
                      <th><input type="text"></th>
                  </tr>
                  <tr>
                      <th>密码确认：</th>
                      <th><input type="text"></th>
                  </tr>
                  <tr>
                      <th>联系方式：</th>
                      <th><input type="text"></th>
                  </tr>
                  <tr>
                      <th>所属角色：</th>
                      <th><select>
                        <option value="">选择</option>
                        <option value="">管理员</option>
                      </select></th>
                  </tr>
                  
                </table>
                <div><input type="submit" value="确定"></div>
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">关闭</button>
                  </div>
            </ng-template>
            <div class="btn-group btn-parent">
            
              <button class="btn btn-default" (click)="open(content)">新建角色</button>
            </div>
      </td>
    </tr>
    <tr>
      <td style="border: none;border-top: 1px solid">账户名称</td>
      <td style="border: none;border-top: 1px solid">联系方式</td>
      <td style="border: none;border-top: 1px solid">时间</td>
      <td style="border: none;border-top: 1px solid">角色</td>
      <td style="border: none;border-top: 1px solid">操作</td>
   
    </tr>
    <tr>
      <td class="success" style="border: none">...</td>
      <td class="success" style="border: none">...</td>
      <td class="warning" style="border: none">...</td>
      <td class="success" style="border: none">...</td>
      <td class="success " style="border: none">...</td>
      <!-- <td class="danger">...</td>
      <td class="info">...</td> -->
    </tr>
  </table>
</div>
<div>
  <ul id="treeDemo" class="ztree"></ul>
</div>
