.video-left{
    // height: calc(100vh - 80px);
    position: relative;
    padding: 0;
}
.video-right{
    padding: 0;
}
.dash-warp{
    position: relative;
    margin-top: 80px;
}
.dash-context {
    height: 25vh;
}
.dash-title{
    margin-top: 15px;
    margin-bottom: 0px;
    background: #404a59;
    color: #fff;
    font-size: 18px;
}