<div class="video-wrap ">
  <!-- 左侧 -->
  <div class="left-side">
    <!-- 搜索列表 -->
    <div class=" video-list">
      <ul id="treeDemo" class="ztree"></ul>
    </div>

    <!-- 地图 -->
    <div #map3 id="map_container2" class="map_container"></div>
  </div>
  <!-- 右侧 -->
  <div class="right-side" style=" padding: 0; ">

    <div class="video-nav">
      <span class="cur-pointer">
        <i class="fa fa-square" aria-hidden="true"></i>
      </span>
      <span class="cur-pointer">
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </span>
      <span class="cur-pointer">
        <i class="fa fa-th" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="video-content">
    kk
  </div>


</div>

