.left-side{
    min-height: 100vh;
    min-width: 300px;
    max-width: 300px;
    border-right: 1px solid #ccc;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    .video-list{
        padding-right: 15px;
        padding-left: 15px;
        position: absolute;
        top: 80px;
    }
}
.right-side {
    position: absolute;
    top: 80px;
    margin-left: 300px;
    width: 100%;
}
.map_container{
    height: 300px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #ccc;
    position: absolute;
    bottom: 0px;
}
.gridster {
    padding-top: 80px !important;
    // padding-left: 400px !important;
}

.video-nav {
    width: 100%;
    height: 42px;
    line-height: 41px;
    border-bottom: 1px solid #ccc;
    // position: absolute;
    // top: 80px;
    span {
        font-size: 32px;
        padding: 0 15px;
        color: #56c5ff;
    }
}
.video-content{
    // width: 100%;
    width: calc(100% - 300px);
    height: calc(100% - 124px);
    position: absolute;
    margin-left: 300px;
    top: 120px;
}

.wrapper-flex {
    display: flex;
    align-items: flex-start;
}

.wrapper-flex .left {
    flex: 0 0 auto;
}

.wrapper-flex .right {
    flex: 1 1 auto;
}