<!-- <p>
  class wodks!
</p> -->
<div class="bodyofclass">

  <div class="card card-success">
    <!-- Default panel contents -->
    <div class="card-header">类管理</div>
    <div class="card-block">
      <!-- Table -->
      <table class="table table-hoved">
        <tr>
          <th>序号</th>
          <th>类</th>
          <th>创建时间</th>
          <th>类描述</th>
          <th>操作</th>
        </tr>
        <tr>
          <td>1</td>
          <td>灯</td>
          <td>2018-7-31</td>
          <td>所有灯具</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>