/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~src/app/main.css';
body {
    color: #333;
    font-family: "Microsoft YaHei","宋体",Arial,"\5B8B\4F53",Helvetica,sans-serif;
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
address, cite, code, em, th, i, strong {
    font-style: normal;
    font-weight: normal;
}
.container-fluid {
    padding:0;
}
.cur-pointer {
    cursor: pointer;
}
.active {
     background-color:#007bff !important;
     color: #fff !important;
}
.i-circle{
    border-radius: 50%;
    color: white;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

}
// .i-circle:hover, .i-circle >a:hover {
//     background: tomato;
// }
// 主题样色
.bg-blue {
    background: #007bff;
}
.cl-blue {
    color: #007bff;
}