/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~src/app/main.css';
body {
    color: #333;
    font-family: "Microsoft YaHei","宋体",Arial,"\5B8B\4F53",Helvetica,sans-serif;
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
address, cite, code, em, th, i, strong {
    font-style: normal;
    font-weight: normal;
}
.container-fluid {
    padding:0;
}
.cur-pointer {
    cursor: pointer;
}
.active {
     background-color:#56c5ff !important;
     color: #fff !important;
}
.i-circle{
    border-radius: 50%;
    color: white;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

}

// 头部导航
.nav-margin {
    margin-top: 80px;
}

// .i-circle:hover, .i-circle >a:hover {
//     background: tomato;
// }
// 主题样色
.bg-blue {
    background: #87a2b7;
}
.cl-blue {
   color: #87a2b7;
}

.js-marquee{
    margin: 0 !important;
}
.device-mes {
    width: 50px;
}

// 气泡
.tag-bule{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #e8f0f5;
    position: relative;
    background: #56c5ff;
    cursor: pointer;
}
.tag-bule:before,.tag-bule:after{
    content:"";
    display:block;
    border-width:5px;
    position:absolute; 
    bottom:-14px;
    left: 4px;
    border-style:solid dashed dashed;
    border-color:#e8f0f5 transparent transparent;
    font-size:0;
    line-height:0;
}
.tag-bule:after{
    bottom:-7px;
    border-color:#56c5ff transparent transparent;
}

.tag-red{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #e8f0f5;
    position: relative;
    background: #f44336;
    cursor: pointer;
}
.tag-red:before,.tag-red:after{
    content:"";
    display:block;
    border-width:5px;
    position:absolute; 
    bottom:-14px;
    left: 4px;
    border-style:solid dashed dashed;
    border-color:#e8f0f5 transparent transparent;
    font-size:0;
    line-height:0;
}
.tag-red:after{
    bottom:-7px;
    border-color:#f44336 transparent transparent;
}

.tag-grad{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid #e8f0f5;
    position: relative;
    background: #b0bec5;
    cursor: pointer;
}
.tag-grad:before,.tag-grad:after{
    content:"";
    display:block;
    border-width:5px;
    position:absolute; 
    bottom:-14px;
    left: 4px;
    border-style:solid dashed dashed;
    border-color:#e8f0f5 transparent transparent;
    font-size:0;
    line-height:0;
}
.tag-grad:after{
    bottom:-7px;
    border-color:#b0bec5 transparent transparent;
}