<!-- modal1:批量导入位置 -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">批量导入位置</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
          <div class="form-group">
              <img src="../../../../assets/imgs/num1.png">
              <label class="control-label c-label-long">下载位置导入模板，批量填写信息</label>
              <button type="button" class="btn btn-outline-dark btn1">下载</button>
          </div>
          <div class="form-group">
              <img src="../../../../assets/imgs/num2.png">
              <label class="control-label c-label-long">上传填写好的信息表</label>
              <button type="button" class="btn btn-outline-dark btn1">选择文件</button>
          </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="c('Close click')">确认</button>
      <button type="button" class="btn btn-outline-metal"  (click)="d('Cross click')">取消</button>
    </div>
</ng-template>
<!-- modal2:新建位置 -->
<ng-template #contentsetPosition let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">新建位置</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="row modal-body">
        <!-- 左列 -->
        <div class="col-12 col-md-6">

          <div class="form-inline padding-15">
            <span class="text-danger">*</span>
            <label class="control-label">名称:</label>
            <input type="text" class="form-control" placeholder="" [(ngModel)]="model.name">
          </div>
          <div class="form-inline padding-15">
              <span class="text-danger">*</span>
              <label class="control-label">编号:</label>
              <input type="text" class="form-control" placeholder="" [(ngModel)]="model.number">
          </div>
          <div class="form-inline padding-15">
              <span class="text-danger">*</span>
              <label class="control-label">区域:</label>
              <!-- 选择区域 -->
              <div class="area-selection" *ngIf="visible == true">
                  <!-- 城市列表 -->
                  <div class="d-inline-block area-selection-block" (mouseleave)="citylistMouseleave()">

                    <span class="cl-blue cur-pointer" (mouseover)="showCiyt()">
                      <span class="filter" *ngIf="currentCity">{{currentCity.name}}</span>
                      <span class="filter" *ngIf="!currentCity">选择城市</span>
                      <!-- <i class="fa fa-bell-o nav-icon " aria-hidden="true"></i> -->
                    </span>
                    <div id="city-panel" class="city-panel dropdown_panel" *ngIf="cityshow">
                        <div class="dropdown_panel_inner">
                            <span class="menu_arrow_left"></span>
                            <dl *ngFor="let item of cityList">
                              <dt>{{item.name}}</dt>
                              <dd *ngIf="item.children && item.children.length > 0">
                                <a title="智慧城市" *ngFor="let itemc of item.children;let i = index" (click)="selecteCity(itemc, i)">{{itemc.name}}</a>
                              </dd>
                            </dl>

                        </div>
                    </div>

                    
                  </div>

                  <!-- 区域列表 -->
                  <div class="d-inline-block area-selection-block" (mouseleave)="arealistMouseleave()">

                    <span class="cl-blue cur-pointer" (mouseover)="showArea()">
                      <span class="filter" *ngIf="!currentArea">选择区域</span>
                      <span class="filter" *ngIf="currentArea">{{currentArea.name}}</span>
                    </span>

                    <div class="arealist-wrap dropdown_panel" *ngIf="areashow">
                        <div class="dropdown_panel_inner">
                            <span class="menu_arrow_left"></span>

                            <ul class="arealist" data-type="area">
                              <li data-val="0" class="arealist-item" (mouseover)="arealistMouseNone()">
                                <em>不限</em>
                              </li>
                              <li class="arealist-item" *ngFor="let node of currentChildren" (mouseover)="arealistMouseover(node)">
                                <em>{{node.name}}</em>
                              </li>
                            </ul>

                            <div class="blocklist-wrap" *ngIf="currentBlockList">
                                <ul class="blocklist" data-type="block">
                                  <li *ngFor="let block of currentBlockList" (click)="selecteblock(block)">{{block.name}}</li>
                                </ul>
                          </div>

                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <!-- 手动输入坐标定位 -->
          <div class="form-inline padding-15">
            <span class="text-danger">*</span>
            <label class="control-label">经度:</label>
            <input type="text" class="form-control border-none" autocomplete [(ngModel)]="model.point.lat" required/>
          </div>
          <div class="form-inline padding-15">
            <span class="text-danger">*</span>
            <label class="control-label">纬度:</label>
            <input type="text" class="form-control border-none" autocomplete [(ngModel)]="model.point.lng" required/>
            <!-- <i class="fa fa-map-marker fa-2x mapIron" (click)="addMapWithPoint()"></i> -->
          </div>
          <div class="form-inline padding-15">
              <span class="text-danger">*</span>
              <label class="control-label">所属类:</label>
              <select name="profile" [(ngModel)]="model.device" (change)="deviceChange()" class="form-control d-inline-block"
                [ngClass]="">
                <option *ngFor="let index of deviceList" [ngValue]="index">
                  {{ index.name }}
                </option>
              </select>
          </div>

        </div>
        <!-- 右列 -->
        <div class="col-12 col-md-6">
            <div #map1  id="position_map" class="map_container"></div>
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="c('Close click')" 
      [disabled]="!model.name || model.name == '' || !model.number || model.number == '' || !model.point.lat || model.point.lat == '' || !model.point.lng || model.point.lng == '' || !model.device">确认</button>
      <button type="button" class="btn btn-outline-metal"  (click)="d('Cross click')">取消</button>
    </div>
</ng-template>

<!-- modal2:修改位置 -->
<ng-template #contentUpdataPosition let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">修改位置</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row modal-body">
    <!-- 左列 -->
    <div class="col-12 col-md-6">

      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">名称:</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="model.name">
      </div>
      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">编号:</label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="model.number">
      </div>
      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">区域:</label>
        <!-- 选择区域 -->
        <div class="area-selection" *ngIf="visible == true">
          <!-- 城市列表 -->
          <div class="d-inline-block area-selection-block" (mouseleave)="citylistMouseleave()">

            <span class="cl-blue cur-pointer" (mouseover)="showCiyt()">
              <span class="filter" *ngIf="currentCity">{{currentCity.name}}</span>
              <span class="filter" *ngIf="!currentCity">选择城市</span>
              <!-- <i class="fa fa-bell-o nav-icon " aria-hidden="true"></i> -->
            </span>
            <div id="city-panel" class="city-panel dropdown_panel" *ngIf="cityshow">
              <div class="dropdown_panel_inner">
                <span class="menu_arrow_left"></span>
                <dl *ngFor="let item of cityList">
                  <dt>{{item.name}}</dt>
                  <dd *ngIf="item.children && item.children.length > 0">
                    <a title="智慧城市" *ngFor="let itemc of item.children;let i = index" (click)="selecteCity(itemc, i)">{{itemc.name}}</a>
                  </dd>
                </dl>

              </div>
            </div>


          </div>

          <!-- 区域列表 -->
          <div class="d-inline-block area-selection-block" (mouseleave)="arealistMouseleave()">

            <span class="cl-blue cur-pointer" (mouseover)="showArea()">
              <span class="filter" *ngIf="!currentArea">选择区域</span>
              <span class="filter" *ngIf="currentArea">{{currentArea.name}}</span>
            </span>

            <div class="arealist-wrap dropdown_panel" *ngIf="areashow">
              <div class="dropdown_panel_inner">
                <span class="menu_arrow_left"></span>

                <ul class="arealist" data-type="area">
                  <li data-val="0" class="arealist-item" (mouseover)="arealistMouseNone()">
                    <em>不限</em>
                  </li>
                  <li class="arealist-item" *ngFor="let node of currentChildren" (mouseover)="arealistMouseover(node)">
                    <em>{{node.name}}</em>
                  </li>
                </ul>

                <div class="blocklist-wrap" *ngIf="currentBlockList">
                  <ul class="blocklist" data-type="block">
                    <li *ngFor="let block of currentBlockList" (click)="selecteblock(block)">{{block.name}}</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 手动输入坐标定位 -->
      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">经度:</label>
        <input type="text" class="form-control border-none" autocomplete [(ngModel)]="model.point.lat" required/>
      </div>
      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">纬度:</label>
        <input type="text" class="form-control border-none" autocomplete [(ngModel)]="model.point.lng" required/>
        <!-- <i class="fa fa-map-marker fa-2x mapIron" (click)="addMapWithPoint()"></i> -->
      </div>
      <div class="form-inline padding-15">
        <span class="text-danger">*</span>
        <label class="control-label">所属类:</label>
        <select name="profile" [(ngModel)]="model.device" (change)="deviceChange()" class="form-control d-inline-block" [ngClass]="">
          <option *ngFor="let index of deviceList" [ngValue]="index">
            {{ index.name }}
          </option>
        </select>
      </div>

    </div>
    <!-- 右列 -->
    <div class="col-12 col-md-6">
      <div #map1 id="position_map" class="map_container"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="c('Close click')" [disabled]="!model.name || model.name == '' || !model.number || model.number == '' || !model.point.lat || model.point.lat == '' || !model.point.lng || model.point.lng == '' || !model.device">确认</button>
    <button type="button" class="btn btn-outline-metal"  (click)="d('Cross click')">取消</button>
  </div>
</ng-template>
<!-- 删除位置 -->
<ng-template #contentDelPosition let-c="close" let-d="dismiss">
  <app-sq-modal  [input]="modelData" (output)="closePosition($event)"></app-sq-modal>
</ng-template>



<div class="bodyofposition">
    <p *ngFor="let alert of alerts" class="lsq-alert">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <div class="card card-primary panel-default">
      <div class="card-header">
        <span>位置管理</span>
        <div class=" add-position">
            <a class=" btn-a cur-pointer" (click)="openAddPositions(content)">批量导入位置</a>
            <a class=" btn-a cur-pointer" (click)="openNewPosition(contentsetPosition)">新建位置</a>
        </div>
      </div>

      <!-- 按区域搜索位置 -->
          <!-- 表单，搜索产品 -->
            <!-- 搜索 -->

          

      <!-- 显示已有位置 -->
      <div class="card-block">
        <form class="form-inline xy-pad search-form">
          <span>所属类型：</span>
          <select name="profile" [(ngModel)]="currentType" (change)="deviceTypeChange()" class="form-control" style="margin-right: 15px;">
            <option *ngFor="let index of deviceTypes" [ngValue]="index">
              {{ index.name }}
            </option>
          </select>
        
          <div class="form-group">
            <input id="sole-input" class="form-control searchbox-content-common" type="text" name="word" autocomplete="off" maxlength="256"
              placeholder="Search" value="">
          </div>
        
          <button type="submit" class="btn btn-bg">搜索</button>
          <!-- <button type="submit" class="btn btn-bg form-btn-1" (click)="openNewPosition(contentsetPosition)">批量导入位置</button>
          <button type="submit" class="btn btn-bg form-btn" (click)="openNewPosition(contentsetPosition)">新建位置</button> -->
        </form>
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th>序号</th>
              <th>名称</th>
              <th>编号</th>
              <th>所属类</th>
              <th>安装位置</th>
              <th>区域</th>
              <th>坐标</th>
              <th style="text-align: center">操作</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item of positionListItems; let i = index">
              <td>{{i + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.number}}</td>
              <td>{{changeName(item.type)}}</td>
              <td>{{item.installZoneName}}</td>
              <td>{{item.regionName}}</td>
              <td>{{item.point.lng}}/{{item.point.lat}}</td>
              <td style="text-align: center">
                <div class="modify-strategy d-inline">
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openUpdataPosi(contentsetPosition, item, i)">修改</a>
                  <a class="cur-pointer btn-a theme-text d-inline" (click)="openDelPosi(contentDelPosition, item, i)">删除</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="positionListItems.length === 0 || !positionListItems">无数据！</div>
        <div *ngIf="positionListItems.length > 1">
          <ngb-pagination [collectionSize]=total [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
            (pageChange)="pageChange()"></ngb-pagination>
        </div>
      </div>
    </div>
  
  </div>