@import '../../../../assets/css/variable.scss';
.bodyofposition {
    width: calc(100vw - 100px);
    padding: 15px;
}
.card-header {
    border-bottom: 0px;
}
.card-block {
    margin: 5px 15px;
}

.search-position {
    font-size: 14px;
    .search-options {
        //padding-left: 20px;
        .form-control {
            font-size: 14px;
            width: auto;
            height: calc(1.8rem + 2px);
            margin-right: 5px;
        }
        .search-icon {
            font-size: 20px;
            margin: 0 5px 5px;
        }
    }
    .add-position {
        margin: 0px;
        text-align: right;
    }
}
.row {
    margin: 0px;
}
.modal-body {
    .form-control {
        font-size: 14px;
        height: calc(1.8rem + 2px);
        margin-bottom: 5px;
    }
    .control-label {
        width: 50px;
        text-align: left;
    }
    .posi-input {
        text-align: center;
    }
    .form-control {
        width: 200px;
    }
    .btn1 {
        font-size: 14px;
        margin-left: 5px;
    }
    .sm-width {
        width: 70px;
        margin: 0 3px 5px;
    }
    .mapIron {
        color: red;
        margin-left: 5px;
    }
    .mapIron:active, .mapIron:hover {
        color: rgb(146, 4, 4);
    }
    .area-selection-block {
        margin-right: 5px;
        margin-top: 5px;
    }
    .map-right {
        width: 400px;
        padding-left: 15px;
    }
}
.area-selection {
    z-index: 3000;
    margin-bottom: 5px;
    .area-selection-block {
        cursor: pointer;
        position: relative;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        line-height: 37px;
        height: calc(1.8rem + 2px);
        font-size: 14px;
    }
}

.btn-position {
    font-size: 14px;
    margin-right: 5px;
    background-color: $color-brand-color;
    // height: calc(1.8rem + 2px);
}
.btn-position:hover {
    background-color: $color-hover-color;
}
.manage-class {
    font-size: 20px;
    padding-right: 1px;
}
.manage-class:focus, .manage-class:hover {
    background-color: $color-brand-color;
}
.manage-class:active {
    background-color: $color-hover-color;
}

.map_container{
    height: 300px;
    // width: calc(100vw - 400px);
    min-width: 200px;
}


