.home {
    .wrap{
        overflow-x: hidden;
    }
    // 手机模式
    @media (max-width: 576px){
        .logo {
            display: none;
        }
        .sidebar-collapse {
            .sidebar-dark-primary {
                left: -250px; // 改用动画
            }
        }
        .header-margin.sidebar-collapse {
            margin-left: 0 !important;
        }

    }
    // 头部
        // background
    .dark-primary{
        // background-color: #e7e7e7;
        background-color: #fff;
        // background: rgba(0,0,0,0.04);;
        // border-bottom: 1px solid #dee2e6;
        box-shadow: 0px 6px 18px #e5e5e5;
    }
    .login-nav {
    height: 80px;
    line-height: 80px;
    color: #87a2b7;
    position: fixed;
    z-index: 15000;
    width: 100vw;
    .push-menu{
        padding-right: 1rem;
        padding-left: 1rem;
        // color: #87a2b7;
    }
    .login-nav-paren {
        position: relative;
        // logo
        img {
            height: 78px;
        }
    }
    .nav-log {
        position: absolute;
    }
    .nav-message{
        position: absolute;
        left: 264px;

    }

    .nav-user {
        text-align: right;
        display: inline-block;
        position: absolute;
        right: 60px;
        a {
            color: #212529;
            padding-right: 20px;
        }
                // 信息用户图标
        .user-span{
            display: inline-block;
            width: 80px;
            text-align: center;
        }
        .message-span {
            text-align: left;
        }

            // 信息
        .message{
            width: 20px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #e60012;
            background: #e60012;
            border-radius: 50%;
            font-size: 8px;
            color: #fff;
            position: relative;
            left: 50px;
            top: -12px;
            z-index: 10;
        }
        .dropdown-menu-list {
            color: #87a2b7;
            font-size:12px;
        }

        .nav-icon {
            text-align: center;
            width: 1.6rem;
            font-size: 1.4rem;
            margin-right: .2rem;
        }

    }

    .push-menu-parent {
        display: inline-block;
    }
    // 下拉框
    .dropdown-menu-message{
        height: 300px;
        overflow-y: auto;
    }
    .dropdown-item{
        height: 50px;
        line-height: 50px;
    }

    // 字幕动画

    .marquee {
        // width: 300px; /* the plugin works for responsive layouts so width is not necessary */
        overflow: hidden;
        min-height: 80px;
        height: 80px;
        // border:1px solid #ccc;
        margin: 0;
        .js-marquee {
            margin: 0 !important;
            min-height: 80px;
        }
        ul {
             margin: 0;
                       
            li {
                margin: 0;
                height: 26px;
            }
        }

    }






    }

    // 中间布局



    .header-margin {
        // margin-top: 80px;
        margin-left: 250px;
        padding-left:0px;
    }

    // 侧边栏
        // sidebar
    .sidebar-dark-primary {
        overflow-y:auto; 
        box-shadow: 0px 6px 18px #e5e5e5;
        background-color: #fff;
        height: 100vh;
        padding-top: 60px;
        position: fixed;
        top:80px;
        z-index: 4000;
        .nav-link {
            display: block;
            position: relative;
            height: 56px;
            line-height: 56px;
        }
        .angle{
            position: absolute;
            right: 34px;

        }
        // 一级菜单图片
        .nav-icon{
            text-align: center;
            width: 1.6rem;
            font-size: 1.5rem;
            margin-right: .2rem;
            position: relative;
            left: 20px;
            // top: 11px;
        }
        // 二级菜单图片
        .nav-icon-s{
            text-align: center;
            width: 1.6rem;
            font-size: 1rem;
            margin-right: .2rem;
            position: relative;
            left: 20px;
            // top: 11px;
        }
        .b-bottom{
            border-bottom: 1px solid #dee2e6;
        }
        .b-top{
            border-top:1px solid #dee2e6;
        }
        .p-left{
            padding-left: 36px;
        }


        p{
        display: inline-block;
        }

        ul {
            list-style: none;
            padding-left: 0;
            white-space: nowrap;
            overflow: hidden;
            li {
                // height: 56px;
                // line-height: 56px;
            }


        }
        li:active,li:focus {
            color: #c2c7d0;
        }
        .nav-item:hover>.nav-link {
            color: #56c5ff;
            background-color: rgba(255,255,255,.1);


        }
        // 一级菜单
        .first-menu {
            a{
                color: #618d99;
                font-weight: bold;
                border-radius: 4px;
                white-space: nowrap;
                overflow: hidden;
            
            }
        }
        // 二级菜单
        .sec-menu {
            a{
                color: #858e90;
                font-size: 12px;
                border-radius: 4px;
                white-space: nowrap;
                overflow: hidden;
            
            }
        }


    }
    // 动画
    .main-sidebar, .main-sidebar:before {
        transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
        width: 250px;
    }


    @media screen and (prefers-reduced-motion: reduce) {
    .main-sidebar, .main-sidebar:before {
        transition: none;
    }
    }

    .sidebar .nav-item p,
    .main-sidebar .brand-text,
    .sidebar .user-panel .info {
    transition: margin-left 0.3s linear, opacity 0.5s ease;
    }

    @media screen and (prefers-reduced-motion: reduce) {
    .sidebar .nav-item p,
    .main-sidebar .brand-text,
    .sidebar .user-panel .info {
        transition: none;
    }
    }

    // hover
    @media (min-width: 992px){
        .sidebar-collapse .main-sidebar:hover {
            width: 275px;
            .nav-link {
                width: 275px;
            }
            li {
                 width: 275px;
            }
            p{
                opacity: 1;
            }
            .angle{
             opacity: 1;

            }

        }


    }


    .header-margin.sidebar-collapse {
        margin-left: 100px;
    }

    // collapse
    .sidebar-collapse{

        .login-nav-paren {
            img {
                    width: 100px;
            }
        }
        .sidebar-dark-primary{
            margin-left: 0;
            width: 100px;

    

            p{
                opacity: 0;
            }
            .angle{
             opacity: 0;

            }
 
        }
    }
    // open
    .sidebar-open{

        .login-nav-paren {
            img {
                    width: 250px;
            }
        }

        .sidebar-dark-primary{
            width: 250px;
            min-width: 250px;

        }

    }

   

}
