<div class="home">
  <div [ngClass]="{'sidebar-open':open === true,'sidebar-collapse':!open}" class="wrap">
      <nav class="login-nav dark-primary">
        <div class="login-nav-paren">
          <!-- logo -->
          <div class="nav-log d-inline-block">
            <img class="logo" src="../../assets/imgs/logo.jpg" alt="logo">
          </div>

          <!-- 菜单开和按钮 -->
          <div class="cur-pointer push-menu-parent" *ngIf="isCollapsed === true">
            <a class="push-menu" data-widget="pushmenu" (click)="open=!open">
              <i class="fa fa-bars"></i>
            </a>
          </div>

          <!-- 滚动字幕 -->
          <div class="d-inline-block marquee nav-message">
            <ul>
              <li *ngFor="let mess of messageList" >
                   {{mess.address}}-{{mess.name}}-{{mess.id}}-{{mess.message}}
              </li>

            </ul>

          </div>
          <!-- <div class="d-inline-block nav-message">
             <marquee behavior="scroll" direction="up" height="80">
                <ul>
                  <li *ngFor="let mess of messageList">
                    {{mess.message}}
                  </li>
                </ul>
             </marquee>
          </div> -->


          <div class="nav-user cur-pointer">

            <!-- Single button -->
            <div class="d-inline-block">
              <span class="message user-span" *ngIf="messageList">{{messageList.length}}</span>
            </div>
            <!-- 消息列表 -->
            <div ngbDropdown class="d-inline-block">
                <span class="cl-blue user-span" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fa fa-bell nav-icon " aria-hidden="true"></i>
                </span>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-message">
                  <li class="dropdown-item" *ngFor="let mess of messageList" (click)="jumpHandle(mess)">
                    <span class="dropdown-menu-list text-left">{{mess.address}}-{{mess.name}}-{{mess.id}}-{{mess.message}}</span>
                  </li>

                </ul>
            </div>
            <!-- 用户 -->
            <div ngbDropdown class="d-inline-block">
              <span class="cl-blue user-span" id="dropdownBasic2" ngbDropdownToggle>
                <i class="fa fa-user-circle-o nav-icon cl-blue" aria-hidden="true"></i>
              </span>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic2" >
                <li class="dropdown-item"><span class="dropdown-menu-list user-span">{{loginName}}</span></li>
                <li class="dropdown-item"><span class="dropdown-menu-list user-span">用户管理</span></li>
                <li class="dropdown-item">
                  <a (click)="logout()" class="cur-pointer "><span class="dropdown-menu-list user-span">退出登录</span></a>
                </li>

              </ul>
            </div>

            
          </div>

        </div>
      
      
      </nav>
      
      <aside class="sidebar-dark-primary main-sidebar">
      
        <ul class="first-menu">
          <!-- 一级菜单 -->
          <li *ngFor="let routes of routeTree " class="cur-pointer nav-item ">
            <!-- 没有字菜单 -->
            <a *ngIf="!routes.children" [routerLink]="[routes.routeLink]" routerLinkActive="active" class="nav-link">
              <i class={{routes.icon}}></i>
              <p class="p-left">{{routes.routeTitel}}</p>
            </a>
            <!-- 有子菜单 -->
            <a *ngIf="routes.children" (click)="routes.isCollapsed = !routes.isCollapsed" class="nav-link">
              <i class={{routes.icon}}></i>
              <p class="p-left">{{routes.routeTitel}}</p>
              <span class="angle" *ngIf="routes.isCollapsed"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
              <span class="angle" *ngIf="!routes.isCollapsed"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
            </a>
            <!-- 二级菜单 -->
            <ul [ngbCollapse]="routes.isCollapsed" *ngIf="routes.children" class="sec-menu">
              <li *ngFor="let children of routes.children" class="cur-pointer nav-item ">
                <a [routerLink]="[children.routeLink]" routerLinkActive="active" class="nav-link">
                  <i class={{children.icon}}></i>
                  <p class="p-left">{{children.routeTitel}}</p>
                </a>
              </li>
      
            </ul>
          </li>
      
      
        </ul>
      
      </aside>
      
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div cllas="row">
            <div class="col-12 col-md-12 header-margin " [ngClass]="{'sidebar-open':open === true,'sidebar-collapse':!open}">
              <router-outlet ></router-outlet>
            </div>
          </div>
        </div>
      </section>
  </div>

</div>