<div class="home">
  <div [ngClass]="{'sidebar-open':open === true,'sidebar-collapse':!open}" class="wrap">
      <nav class="login-nav dark-primary">
        <div class="login-nav-paren">

          <img class="logo" src="../../assets/imgs/logo.png" alt="logo">
          <div class="cur-pointer push-menu-parent" *ngIf="isCollapsed === true">
            <a class="push-menu" data-widget="pushmenu" (click)="open=!open">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="nav-user cur-pointer">
            <!-- Single button -->


            <div ngbDropdown class="d-inline-block">
                <span class="cl-blue" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fa fa-bell-o nav-icon " aria-hidden="true"></i>
                </span>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-right">
                  <li class="dropdown-item">Action - 1</li>
                  <li class="dropdown-item">Another Action</li>
                  <li class="dropdown-item">Something else is here</li>
                </ul>
            </div>
            <div ngbDropdown class="d-inline-block">
              <span class="cl-blue" id="dropdownBasic2" ngbDropdownToggle>
                <i class="fa fa-user-circle-o nav-icon cl-blue" aria-hidden="true"></i>
              </span>
              <ul ngbDropdownMenu aria-labelledby="dropdownBasic2" class="dropdown-menu-right">
                <li class="dropdown-item">{{loginName}}</li>
                <li class="dropdown-item">用户管理</li>
                <li class="dropdown-item">
                  <a (click)="logout()" class="cur-pointer ">退出登录</a>
                </li>

              </ul>
            </div>
            <!-- <span><i class="fa fa-user-circle-o nav-icon cl-blue" aria-hidden="true"></i></span> -->


            <!-- <a class="cur-pointer" *ngIf="loginName">您好，{{loginName}}</a> -->
            
          </div>

        </div>
      
      
      </nav>
      
      <aside class="sidebar-dark-primary main-sidebar">
      
        <ul>
          <!-- 一级菜单 -->
          <li *ngFor="let routes of routeTree " class="cur-pointer nav-item b-bottom">
            <!-- 没有字菜单 -->
            <a *ngIf="!routes.children" [routerLink]="[routes.routeLink]" routerLinkActive="active" class="nav-link">
              <i class={{routes.icon}}></i>
              <p>{{routes.routeTitel}}</p>
            </a>
            <!-- 有子菜单 -->
            <a *ngIf="routes.children" (click)="routes.isCollapsed = !routes.isCollapsed" class="nav-link">
              <i class={{routes.icon}}></i>
              <p>{{routes.routeTitel}}</p>
            </a>
            <!-- 二级菜单 -->
            <ul [ngbCollapse]="routes.isCollapsed" *ngIf="routes.children" >
              <li *ngFor="let children of routes.children" class="cur-pointer nav-item b-top">
                <a [routerLink]="[children.routeLink]" routerLinkActive="active" class="nav-link">
                  <i class={{children.icon}}></i>
                  <p class="p-left">{{children.routeTitel}}</p>
                </a>
              </li>
      
            </ul>
          </li>
      
      
        </ul>
      
      </aside>
      
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div cllas="row">
            <div class="col-12 col-md-12 header-margin " [ngClass]="{'sidebar-open':open === true,'sidebar-collapse':!open}">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </section>
  </div>









</div>