<!-- 删除工作日控制 -->
<div class="modal-header">
  <font class="modal-title">删除</font>
  <button type="button" class="close" aria-label="Close" (click)="click('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div>
      确定要删除该条记录吗？
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-info" (click)="click('ok')">确定</button>
  <button type="button" class="btn btn-outline-metal" (click)="click('cancel')">取消</button>
</div>

