.video-left{
    // height: calc(100vh - 80px);
    position: relative;
    padding: 0;
}
.video-right{
    padding: 0;
}
.dash-warp{
    position: relative;
    margin-top: 80px;
    height: calc(100% - 80px);
}
.dash-context {
    height: 25%;
    // padding-right: 0;
    .dash-visi {
        height: 100%;
        padding: 5px;
    }
}
.dash-context-sec {
    height: 30%;
    .dash-visi {
        height: 100%;
        padding: 5px;
    }
}
.dash-context-third {
    height: 45%;
    .dash-visi {
        height: 100%;
        padding: 5px;
    }
}
.dash-title{
    margin-top: 15px;
    margin-bottom: 0px;
    background: #404a59;
    color: #fff;
    font-size: 18px;
}